// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// a clearfix extension
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%crispy {
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

@mixin wrapper {
    max-width: $page-inner-maxwidth;
    margin: 0 auto;
    padding-left: $page-horizontal-padding;
    padding-right: $page-horizontal-padding;
    
    @media screen and (max-width: ($mediumish-screen-width + 2 * $page-horizontal-padding)) {
        padding-left: $page-horizontal-padding-mobile;
        padding-right: $page-horizontal-padding-mobile;
    }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
    @include element-invisible;
    
    &:active,
    &:focus {
        @include element-invisible-off;
    }
}

// hide the text
@mixin hide-text() {
    text-indent: -500em;
}

// one column-ize
@mixin one-columnize() {
    float: none;
    position: static;
    width: auto;
    height: auto;
    max-height: none;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    clear: both;
    margin: 0 0 20px;
}

// buttons
@mixin buttonize {
    display: inline-block;
    font-size: 140%;
    font-family: $base-font-family-medium;
    text-align: center;
    color: $theme_white;
    background-color: $theme_green;
    text-transform: uppercase;
    padding: 11px 18px 13px;
    border: 1px solid $theme_green;
    transition: all .3s ease;
    border-radius: 10px;
    cursor: pointer;
    
    &:hover {
        background-color: $theme_gold;
        border-color: $theme_gold;
    }

    &[disabled] {
        cursor: auto;
    }
}
@mixin buttonize-transparent {
    @include buttonize;
    background-color: transparent;
    border-color: $theme_white;

    &:hover {
        color: black;
        background-color: $theme_white;
        border-color: $theme_white;
    }
}
@mixin buttonize-white {
    @include buttonize;
    background-color: $theme_white;
    color: black;
    border-color: $theme_white;
}
@mixin buttonize-solid-white {
    @include buttonize-transparent;
    color: black;
    background-color: $theme_white;
    border-color: $theme_white;

    &:hover {
        color: $theme_white;
        background-color: black;
        border-color: black;
    }
}
@mixin buttonize-underlined {
    position: relative;
    display: inline-block;
    color: black;
    font-family: $base-font-family-medium;
    padding: 10px 1px;
    font-size: 140%;
    line-height: 1;
    text-transform: uppercase;
    background: none;
    border: none;

    &:hover {
        &:before {
            transform: scale(1);
            transition-delay: .5s;
        }

        &:after {
            transform: scaleX(0);
        }
    }

    &:before, &:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: black;
        width: 100%;
        height: 1px;
        transition-property: transform;
        transition-duration: .6s;
        transition-timing-function: ease-in-out;
        transition-delay: 0;
    }

    &:before {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    &:after {
        transform-origin: 100% 50%;
    }
}

// separate by commas
@mixin separate-by-commas {
    display: flex;
    align-items: center;

    > * {
        &:first-child {
            &:before {
                content: none;
            }
        }

        &:before {
            content: ",";
            padding-right: .2em;
        }
    }
}

// wave effect
@mixin wave-effect($color: 'white') {
    position: relative;
        
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 103px;
        background: url("../images/wave-" + $color + ".png") repeat-x left top;
        transform: translateY(-100px);
        z-index: 1;

        @media screen and (max-width: $medium-screen-width) {
            height: 37px;
            background-size: contain;
            background-position: 20vw top;
            transform: none;
            top: -30px;
        }
    }
}
@mixin wave-effect-reverse($color: 'white') {
    @include wave-effect($color);
        
    &:before {
        background-image: url("../images/wave-" + $color + "-reverse.png");
        transform: none;
        z-index: 2;

        @media screen and (max-width: $medium-screen-width) {
            top: 0;
        }
    }
}