/**
* @file
* Normalize.css is intended to be used as an alternative to CSS resets.
*
* This file is a slight fork of these original sources:
* - normalize.css v2.1.2 | MIT License | git.io/normalize
* - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass
*
* It's suggested that you read the normalize.scss file and customise it to meet
* your needs, rather then including the file in your project and overriding the
* defaults later in your CSS.
* @see http://nicolasgallagher.com/about-normalize-css/
*
* Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
*       @see http://snook.ca/archives/html_and_css/no_css_reset/
*/

/* Box Sizing: Border box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**
* HTML5 display definitions
*/

/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
    display: inline-block;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
    display: none;
    height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
    display: none;
}

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
    font-family: $base-font-family; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    // font smoothing
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $body_color;
    background: $body_background;
    overflow-x: hidden;
}

/**
* Links
*
* The order of link states are based on Eric Meyer's article:
* http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
*/
a:link {
    color: $link_color;
    text-decoration: none;
}
a:visited {
    color: $link_color;
}
a:hover,
a:focus {
    color: $link_color;
}
a:active {
    color: $link_color;
}

/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
    outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
    outline: 0;
}

/**
* Typography
*/
p,
pre {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0 0 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    letter-spacing: -.05em;
    font-weight: 400;
    margin: 0;
    padding: 0;

    em {
        font-family: $title-font-family-italic;
    }

    @media screen and (max-width: $small-screen-width) {
        br {
            display: none;
        }
    }
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
    border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
    font-family: $base-font-family-medium;
}

/* Address styling not present in Safari 5 and Chrome. */
dfn {
    font-style: italic;
}

/* Address differences between Firefox and other browsers. */
hr {
    box-sizing: content-box;
    height: 0;
    border: 1px solid #666;
    padding-bottom: -1px;
    margin: rhythm(1) 0;
}

/* Address styling not present in IE 8/9. */
mark {
    background: #ff0;
    color: #000;
}

/* Correct font family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp,
tt,
var {
    font-family: $font-monospace; // The value of $font-monospace ends with ", serif".
}

/* Improve readability of pre-formatted text in all browsers. */
pre {
    white-space: pre-wrap;
}

/* Set consistent quote types. */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable font size in all browsers. */
small {
    font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/**
* Lists
*/
dl,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
* Embedded content and figures
*
* @todo Look into adding responsive embedded video.
*/
img {
    /* Remove border when inside `a` element in IE 8/9. */
    border: 0;
    /* Responsive images */
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

iframe {
    border: none;
}

/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
    overflow: hidden;
}

/* Address margin not present in IE 8/9 and Safari 5. */
figure {
    margin: 0;
}

/**
* Forms
*/

/**
* 1. Correct `color` not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
* 1. Correct font family not being inherited in all browsers.
* 2. Correct font size not being inherited in all browsers.
* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    max-width: 100%; /* 5 */
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
button,
input {
    line-height: normal;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/
button,
select {
    text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
* 2. Remove excess padding in IE 8/9.
*/
input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* 2 */
}

/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
}

/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
* 1. Remove default vertical scrollbar in IE 8/9.
* 2. Improve readability and alignment in all browsers.
*/
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* Drupal-style form labels. */
label {
    display: block;
}

/**
* Tables
*/
table {
    /* Remove most spacing between table cells. */
    border-collapse: collapse;
    border-spacing: 0;
    /* Prevent cramped-looking tables */
    width: 100%;
}
