// @file
// Plugins styles
@import "../node_modules/plyr/dist/plyr.css";
@import "../node_modules/jquery-modal/jquery.modal.min.css";
@import "../node_modules/animate.css/animate.min.css";
@import "../node_modules/swiper/swiper-bundle.min.css";
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/drift-zoom/dist/drift-basic.css";

// Plyr
.plyr {
    width: 90vw;
    height: 50.625vw;

    .plyr__video-wrapper {
        height: 100%;

        .plyr__video-embed__container {
            height: 100%;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Modal
.blocker {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    a.close-modal {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;

        span {
            display: none;
        }
    }
}
.modal {
    padding: 0;
    background-color: black;
    max-width: none;
    height: 90%;
    border-radius: 0;
    box-shadow: none;

    iframe {
        width: 100%;
        height: 100%;
    }
}

// Slick Carousel
.slick-slider {
    position: relative;

    ul.slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 20;

        > li {
            display: block;
            width: 12px;
            height: 12px;
            margin: 0 6px;
            border-radius: 50%;
            background-color: $theme_green;
            opacity: .2;
            cursor: pointer;

            &.slick-active {
                opacity: 1;
            }

            button {
                @include element-invisible;
            }
        }
    }
}

// Drift zoom
.drift-zoom-pane {
    background: rgba($theme_white, .75);
}