// =============================================================================
// Variables
// =============================================================================

// Layout
$page-inner-maxwidth: 1440px;
$page-horizontal-padding: 35px;
$page-horizontal-padding-mobile: 15px;
$header-height: 72px;
$body-maxwidth: 675px;

// Breakpoints
$huge-screen-width: 1500px;
$big-screen-width: 1300px;
$mediumish-screen-width: 1080px;
$medium-screen-width: 900px;
$smallisher-screen-width: 800px;
$smallish-screen-width: 700px;
$small-screen-width: 640px;
$micro-screen-width: 480px;
$nano-screen-width: 380px;

//
// Font faces, stacks and sizes.
//
$base-font-size:   160%;
$base-line-height: 1.5;

// Font stacks
$base-font-family: "Sweet Sans Pro Lt", Helvetica, Arial, sans-serif;
$base-font-family-medium: "Sweet Sans Pro Med", Helvetica, Arial, sans-serif; // this is needed because the css imported from typenetwork is VERY bad
$title-font-family: "Poynter Oldstyle Disp Reg", "Palatino Linotype", Palatino, Georgia, serif;
$title-font-family-italic: "Poynter Oldstyle Disp It", "Palatino Linotype", Palatino, Georgia, serif; // this too
$font-monospace: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// theme colors
$theme_white: #FAF9F0;
$theme_cream: #F9F5E7;
$theme_green: #058768;
$theme_gold: #CCB955;

$dark_grey: #4A4A4A;
$light_grey: #999999;
$lighter_grey: #C4C4C4;
$lightest_grey: #EBEBEB;
$error_color: #FA0000;
// color binding
$link_color: black;
$link_hover_color: black;
$body_background: $theme_white;
$body_color: black;