{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header
 * - page.featured
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content_top
 * - page.content
 * - page.content_bottom
 * - page.footer
 * - page.footer_two
 * - page.footer_three
 * - page.footer_four
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">
    <header role="banner">
        {{ page.header }}
    </header>

    {{ page.featured }}

    {{ page.help }}

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        {{ page.content_top }}
        
        {{ page.content }}

        {{ page.content_bottom }}
    </main>

    <footer role="contentinfo">
        <div class="inner">
            {% if page.footer %}
                {{ page.footer }}
            {% endif %}

            {% if page.footer_bottom %}
                {{ page.footer_bottom }}
            {% endif %}
        </div>
    </footer>
</div>{# /.layout-container #}
