{#
/**
 * @file
 * Theme override to display the Footer bottom region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
    <div class="inner">
        <div class="copy">© {{ 'now'|date('Y') }} ViñaSol. All rights reserved.</div>
        
        {{ content }}
    </div>
</div>
{% endif %}
