{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
    <a href="{{ path('<front>') }}" rel="home" class="siteLogo">
        <svg width="91" height="69" viewBox="0 0 91 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="logotype" d="M11.0659 65.9763C9.8503 58.8932 7.2515 49.4906 3.26946 45.5555L0 46.7568C2.38922 48.9521 4.27545 52.3072 5.91018 57.1535C7.58683 62.0827 8.63473 66.142 9.13773 68.5444L11.0659 65.9763ZM88.8623 68.9172L91 67.3018C90.0778 66.929 89.6168 66.142 89.6168 64.9408C89.6168 64.2366 89.6587 61.8756 89.7425 59.1003C89.8263 55.2896 89.9102 50.7332 89.9102 48.8692C89.9102 47.3367 89.2395 46.0526 88.1497 45.5141L86.012 47.1295C86.9341 47.5023 87.3952 48.2893 87.3952 49.4906C87.3952 50.0705 87.3533 52.3486 87.2695 54.9996C87.1856 58.8932 87.1018 63.6981 87.1018 65.5621C87.1018 67.0947 87.7725 68.3787 88.8623 68.9172ZM79.0539 67.8403C75.5329 67.8403 73.3114 64.7751 73.3114 59.9288C73.3114 55.0825 74.1078 53.0114 76.3293 53.0114C79.7665 53.0114 82.0719 56.118 82.0719 60.9229C82.0719 65.7278 81.1916 67.8403 79.0539 67.8403ZM76.6228 69.0001C80.8982 69.0001 84.7545 64.7751 84.7545 60.0116C84.7545 55.4138 82.0299 51.893 78.5509 51.893C74.1497 51.893 70.6287 55.8695 70.6287 60.84C70.6287 65.5207 73.2695 69.0001 76.6228 69.0001ZM61.5749 69.0001C65.5988 69.0001 68.6168 66.2662 68.6168 62.6212C68.6168 58.8104 66.0599 57.195 63.5449 55.7866C60.1916 53.9227 58.4311 51.893 58.4311 49.6977C58.4311 47.958 59.6048 46.6739 60.7365 46.7153C61.6168 46.7568 62.3713 47.2952 63.0838 47.8337C64.006 48.5379 64.9701 49.2006 65.976 49.242L68.0299 47.3367C66.8563 47.2124 65.9341 46.7153 65.1377 46.2597C64.3413 45.8041 63.6707 45.4313 62.9581 45.4313C60.1497 45.4313 56.8383 48.745 56.8383 51.6445C56.8383 55.4138 59.479 56.7393 61.994 58.1476C65.2216 59.9702 66.8982 62.0413 66.8982 64.3194C66.8982 65.9349 66.6886 66.6805 65.976 67.3846C65.5569 67.7988 64.8862 68.0474 64.1737 68.0474C62.1198 68.0474 59.3952 65.9763 58.2216 63.6981L56.3353 65.3136C57.3413 67.716 59.1856 69.0001 61.5749 69.0001ZM52.8144 68.9172L54.9521 67.3018C54.0299 66.929 53.5689 66.142 53.5689 64.9408C53.5689 63.3253 53.6108 62.0413 53.6527 60.84C53.6946 59.7631 53.6946 58.769 53.6946 57.6506C53.6946 54.3369 51.9761 51.8102 49.8802 51.8102C47.1976 51.8102 42.9641 54.8339 42.9641 56.7807C42.9726 57.3179 43.0718 57.8499 43.2575 58.3548L45.3114 57.1535C44.976 56.6565 44.8084 56.0766 44.8084 55.4138C44.8084 54.0469 46.1497 53.0114 47.7006 53.0114C49.8383 53.0114 51.1796 55.041 51.1796 58.1476V59.3903C51.1796 60.1773 51.1377 61.2957 51.1377 62.4141C51.1377 63.5739 51.0539 64.6922 51.0539 65.5621C51.0539 67.0947 51.7246 68.3787 52.8144 68.9172ZM35.8383 48.6621C36.5928 48.6621 37.9341 47.8751 39.4012 46.2597C38.8144 46.5082 38.1437 46.7153 37.3892 46.7153C36.2994 46.7153 35.3772 46.2597 34.5389 45.8455C33.6587 45.4313 32.8623 45.0585 32.0659 45.0585C31.2695 45.0585 30.0539 46.0526 28.7545 47.7094C29.3832 47.3781 30.1796 47.0881 31.1018 47.0881C31.9401 47.0881 32.6108 47.2952 33.7006 47.9166C34.4132 48.3308 35.0838 48.6621 35.8383 48.6621ZM45.8982 69.0001C47.3653 69.0001 48.6228 68.1302 49.7964 65.9763C48.9581 66.3491 48.1617 66.5562 47.6168 66.5562C46.0659 66.5562 45.1437 65.6035 45.1437 64.0295C45.1437 61.9584 47.6168 60.7158 51.3054 59.266V58.9761C45.2695 61.2543 42.7964 63.1182 42.7964 65.4792C42.7964 67.3018 43.8862 69.0001 45.8982 69.0001ZM38.6048 68.9172L40.7425 67.3018C39.8204 66.929 39.3593 66.142 39.3593 64.9408C39.3593 63.8224 39.4012 62.1241 39.485 60.4258C39.5689 58.769 39.5689 57.195 39.5689 56.1594C39.5689 53.6741 38.2695 51.8102 36.5509 51.8102C35.5868 51.8102 35.1257 52.1415 34.2036 52.7629L30.4311 55.3724L30.515 55.6209C31.521 54.8754 32.9461 53.8812 34.1198 53.8812C36.0479 53.8812 37.0539 54.8754 37.0539 56.7807C37.0539 58.8104 37.012 61.0471 36.9281 62.8283C36.8862 63.9881 36.8443 64.9822 36.8443 65.5621C36.8443 67.0947 37.515 68.3787 38.6048 68.9172ZM22.2156 48.8278C23.0958 48.8278 23.976 47.958 23.976 47.0053C23.976 46.0526 23.1377 45.0585 22.3832 45.0585C21.4611 45.0585 20.5808 45.9697 20.5808 46.881C20.5808 47.7923 21.4611 48.8278 22.2156 48.8278ZM29.5509 68.9172L31.6886 67.3018C30.7665 66.929 30.3054 66.142 30.3054 64.9408C30.3054 64.2366 30.3473 62.994 30.4311 61.5442C30.5569 59.5146 30.5988 57.1121 30.5988 55.2481C30.5988 53.7156 29.9281 52.4315 28.8383 51.893L26.7006 53.5084C27.6228 53.8812 28.0838 54.6682 28.0838 55.8695C28.0838 56.4494 28.0419 57.6506 27.9581 59.1003C27.8323 61.1714 27.7904 63.6981 27.7904 65.5621C27.7904 67.0947 28.4611 68.3787 29.5509 68.9172ZM22.7186 68.9172L24.8563 67.3018C23.9341 66.929 23.4731 66.142 23.4731 64.9408C23.4731 64.2366 23.515 62.994 23.5988 61.5442C23.7246 59.5146 23.7665 57.1121 23.7665 55.2481C23.7665 53.7156 23.0958 52.4315 22.006 51.893L19.8683 53.5084C20.7904 53.8812 21.2515 54.6682 21.2515 55.8695C21.2515 56.4494 21.2096 57.6506 21.1257 59.1003C21 61.1714 20.9581 63.6981 20.9581 65.5621C20.9581 67.0947 21.6287 68.3787 22.7186 68.9172ZM12.3234 64.4023C14.9222 60.9229 18.1078 56.0766 18.1078 51.4374C18.1078 48.7864 17.3114 47.0053 15.3832 45.597L13.1617 47.2538C15.006 48.7036 15.8024 50.4847 15.8024 53.0528C15.8024 55.9523 14.5868 60.5501 12.2814 64.3609L12.3234 64.4023Z" fill="#058768"/>
            <path d="M50.0987 19.5675L50.1416 19.5246C49.8409 19.1815 49.3684 18.9671 48.81 18.9671C48.2945 18.9671 47.822 19.2244 47.4783 19.6533L47.5213 19.6961C47.8649 19.3959 48.3804 19.2244 48.8529 19.2244C49.3254 19.2244 49.798 19.353 50.0987 19.5675Z" fill="url(#sol_linear_gradient)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.9388 19.6104C48.2086 19.6104 47.6072 19.9106 47.0917 20.7683C47.3924 21.2401 48.2086 21.5832 48.9818 21.5832C49.6261 21.5832 50.3564 21.1972 50.743 20.6397C50.2275 19.8677 49.6691 19.6104 48.9388 19.6104ZM49.6261 20.4252C49.6261 20.8112 49.3254 21.1114 48.8959 21.1114C48.5093 21.1114 48.1656 20.8112 48.1656 20.4252C48.1651 20.3103 48.1915 20.1969 48.2429 20.0941C48.4075 20.0263 48.5812 19.9829 48.7584 19.9655C48.8873 19.9972 48.9805 20.1049 48.9805 20.2129C48.976 20.2797 48.9474 20.3426 48.9 20.3899C48.8526 20.4372 48.7896 20.4658 48.7228 20.4703C48.5939 20.4703 48.465 20.3416 48.465 20.1701C48.465 20.0843 48.4221 20.2987 48.4221 20.3845C48.4232 20.5093 48.4733 20.6286 48.5617 20.7168C48.6501 20.8051 48.7696 20.8551 48.8946 20.8563C49.0196 20.8551 49.1391 20.8051 49.2275 20.7168C49.3158 20.6286 49.366 20.5093 49.3671 20.3845C49.3662 20.2967 49.3411 20.2109 49.2945 20.1366C49.2479 20.0622 49.1816 20.0021 49.1029 19.9629C49.2463 19.9742 49.3881 20.0005 49.526 20.0414C49.5926 20.1584 49.6271 20.2907 49.6261 20.4252ZM47.3924 20.7683C47.5258 20.5893 47.6864 20.4322 47.8684 20.3026C47.8684 20.3159 47.8675 20.3292 47.8667 20.3425C47.8658 20.3558 47.8649 20.3691 47.8649 20.3823C47.8673 20.5588 47.9137 20.7318 48 20.8857C48.0864 21.0396 48.2099 21.1696 48.3594 21.2637C47.9427 21.1758 47.5973 21.0016 47.3924 20.7683ZM49.3684 21.283C49.5345 21.1975 49.6742 21.0685 49.7726 20.9099C49.8709 20.7513 49.9242 20.5689 49.9268 20.3823C49.9265 20.3192 49.9187 20.2563 49.9036 20.1949C50.111 20.306 50.2941 20.4572 50.4423 20.6397C50.169 20.9703 49.7904 21.1974 49.3697 21.283H49.3684Z" fill="url(#sol_linear_gradient)"/>
            <path d="M48.6381 18.0664C47.1776 18.0664 46.0608 19.2673 46.0608 20.897C46.0608 22.0606 46.456 22.652 46.7103 23.0325L46.7104 23.0326C46.831 23.213 46.9199 23.3461 46.9199 23.4703C46.9199 23.6847 46.7481 23.7705 46.4903 23.7276C46.3615 23.9849 46.0178 24.0707 45.5883 24.0707C45.1587 24.0707 44.8151 23.9849 44.6862 23.7276C44.4285 23.7705 44.2566 23.6847 44.2566 23.4703C44.2566 23.3461 44.3456 23.213 44.4662 23.0325C44.7205 22.652 45.1157 22.0606 45.1157 20.897C45.1157 19.2673 43.9989 18.0664 42.5384 18.0664C41.5074 18.0664 40.6913 18.4095 40.3047 19.0099L40.3906 19.0528C41.0497 18.6934 41.7874 18.5019 42.5384 18.4953C43.8271 18.4953 44.858 19.5246 44.858 20.897C44.858 21.8297 44.4766 22.365 44.1877 22.7704C44.0117 23.0174 43.87 23.2162 43.87 23.4274C43.87 23.7705 44.1707 24.0278 44.5573 24.0278C44.7721 24.2851 45.1587 24.4567 45.5883 24.4567C46.0178 24.4567 46.4044 24.2851 46.6192 24.0278C47.0058 24.0278 47.3065 23.7705 47.3065 23.4274C47.3065 23.2162 47.1648 23.0174 46.9888 22.7704C46.6999 22.365 46.3185 21.8297 46.3185 20.897C46.3185 19.5246 47.3495 18.4953 48.6381 18.4953C49.3891 18.5019 50.1268 18.6934 50.7859 19.0528L50.8719 19.0099C50.4853 18.4095 49.6691 18.0664 48.6381 18.0664Z" fill="url(#sol_linear_gradient)"/>
            <path d="M43.6982 19.6533L43.6552 19.6961C43.3116 19.3959 42.7961 19.2244 42.3236 19.2244C41.8511 19.2244 41.3786 19.353 41.0779 19.5675L41.0349 19.5246C41.3356 19.1815 41.8081 18.9671 42.3666 18.9671C42.882 18.9671 43.3545 19.2244 43.6982 19.6533Z" fill="url(#sol_linear_gradient)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.2377 19.6104C42.9679 19.6104 43.5693 19.9106 44.0848 20.7683C43.7841 21.2401 42.9679 21.5832 42.1947 21.5832C41.5504 21.5832 40.8201 21.1972 40.4335 20.6397C40.949 19.8677 41.5074 19.6104 42.2377 19.6104ZM42.2806 21.1114C42.6673 21.1114 43.0109 20.8112 43.0109 20.4252C43.0113 20.3103 42.9847 20.1969 42.9332 20.0941C42.7997 20.0386 42.6601 19.9991 42.5173 19.9762C42.5885 20.0177 42.6477 20.0769 42.689 20.1481C42.7304 20.2193 42.7525 20.3 42.7532 20.3823C42.752 20.5071 42.7019 20.6265 42.6135 20.7147C42.5252 20.8029 42.4056 20.853 42.2806 20.8541C42.1557 20.853 42.0361 20.8029 41.9478 20.7147C41.8594 20.6265 41.8093 20.5071 41.8081 20.3823C41.8081 20.2966 41.8511 20.0821 41.8511 20.1679C41.8511 20.3395 41.98 20.4681 42.1088 20.4681C42.1757 20.4636 42.2387 20.435 42.286 20.3877C42.3334 20.3404 42.362 20.2776 42.3666 20.2108C42.3666 20.0946 42.2613 19.9788 42.1144 19.9573C41.9566 19.9667 41.8003 19.9942 41.6488 20.0392C41.5825 20.157 41.5485 20.2902 41.5504 20.4252C41.5504 20.8112 41.8511 21.1114 42.2806 21.1114ZM41.2725 20.1949C41.0652 20.3059 40.8822 20.4571 40.7342 20.6397C41.0077 20.9707 41.3869 21.1979 41.8081 21.283C41.642 21.1975 41.5023 21.0685 41.404 20.9099C41.3056 20.7513 41.2523 20.5689 41.2497 20.3823C41.2499 20.3192 41.2575 20.2563 41.2725 20.1949ZM42.8188 21.2624C42.9674 21.1685 43.0904 21.0391 43.1764 20.8858C43.2628 20.7319 43.3093 20.5588 43.3116 20.3823C43.3116 20.3558 43.3116 20.3292 43.3077 20.3026C43.4897 20.4322 43.6505 20.5894 43.7841 20.7683C43.5791 21.0013 43.2345 21.1752 42.8188 21.2624Z" fill="url(#sol_linear_gradient)"/>
            <path d="M47.0917 26.0864C47.0488 26.0864 47.0166 26.1078 46.9682 26.14C46.9199 26.1722 46.8555 26.2151 46.7481 26.258C46.5333 26.3437 46.1896 26.4724 45.5883 26.4724C44.9869 26.4724 44.6432 26.3437 44.4285 26.258C44.3211 26.2151 44.2566 26.1722 44.2083 26.14C44.16 26.1078 44.1278 26.0864 44.0848 26.0864C44.0625 26.0879 44.0415 26.0974 44.0257 26.1132C44.0099 26.129 44.0004 26.1499 43.9989 26.1722C43.9989 26.4295 44.8151 26.7726 45.5883 26.7726C46.3615 26.7726 47.1776 26.4295 47.1776 26.1722C47.1761 26.1499 47.1666 26.129 47.1508 26.1132C47.135 26.0974 47.114 26.0879 47.0917 26.0864Z" fill="url(#sol_linear_gradient)"/>
            <path d="M47.7956 25.2304C47.8357 25.2053 47.8669 25.1858 47.9079 25.1858C47.9302 25.1873 47.9512 25.1968 47.967 25.2126C47.9828 25.2283 47.9923 25.2493 47.9938 25.2715C47.9938 25.5718 46.9629 25.7862 45.5883 25.7862C44.2137 25.7862 43.1827 25.5718 43.1827 25.2715C43.1842 25.2493 43.1938 25.2283 43.2096 25.2126C43.2254 25.1968 43.2463 25.1873 43.2686 25.1858C43.3096 25.1858 43.3408 25.2053 43.3809 25.2304C43.4249 25.2578 43.4795 25.292 43.5693 25.3144C43.758 25.3772 43.9697 25.3711 44.2381 25.3632C44.3364 25.3604 44.4422 25.3573 44.5573 25.3573C44.7893 25.3573 45.0522 25.4036 45.2625 25.4407C45.4027 25.4654 45.5195 25.486 45.5883 25.486C45.657 25.486 45.7738 25.4654 45.914 25.4407C46.1244 25.4036 46.3872 25.3573 46.6192 25.3573C46.7343 25.3573 46.8402 25.3604 46.9384 25.3632C47.2068 25.3711 47.4185 25.3772 47.6072 25.3144C47.6971 25.292 47.7517 25.2578 47.7956 25.2304Z" fill="url(#sol_linear_gradient)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.4386 21.8405C36.4386 16.8227 40.5194 12.7483 45.5883 12.7483C50.6141 12.7483 54.695 16.8227 54.695 21.8405C54.695 26.9013 50.6141 30.9756 45.5883 30.9756C44.386 30.9782 43.195 30.7437 42.0838 30.2855C40.9725 29.8274 39.9628 29.1546 39.1127 28.3058C38.2625 27.457 37.5887 26.4489 37.1298 25.3394C36.6709 24.2299 36.436 23.0409 36.4386 21.8405ZM37.1689 21.8405C37.1689 26.4724 40.949 30.2465 45.5883 30.2465C50.2275 30.2465 53.9647 26.4724 53.9647 21.8405C53.9669 20.7417 53.7517 19.6532 53.3316 18.6375C52.9114 17.6219 52.2945 16.699 51.5162 15.922C50.738 15.145 49.8137 14.5291 48.7964 14.1096C47.7791 13.69 46.6889 13.4752 45.5883 13.4774C40.949 13.4774 37.1689 17.2087 37.1689 21.8405Z" fill="url(#sol_linear_gradient)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M67.1952 21.6261L56.7435 19.5735L56.7409 19.5593C57.1575 19.2915 57.4378 18.9641 57.7093 18.647C58.0513 18.2476 58.3792 17.8646 58.9476 17.6375C59.4473 17.4297 59.7754 17.383 60.1032 17.3364C60.4517 17.2868 60.7998 17.2373 61.3531 16.9942C62.2907 16.6198 62.8107 15.9785 63.3193 15.3511C63.6263 14.9725 63.9291 14.599 64.3171 14.2923C64.4277 14.1598 64.4814 14.0955 64.4663 14.0643C64.4521 14.035 64.377 14.035 64.2312 14.035C63.5497 14.004 63.2033 14.1739 62.6442 14.4479L62.6442 14.4479L62.644 14.448C62.4279 14.5539 62.18 14.6754 61.8686 14.807C60.8675 15.211 60.0565 15.0245 59.247 14.8384C58.4241 14.6492 57.6028 14.4603 56.585 14.8927C56.0768 15.0741 55.5691 15.4074 55.2426 15.8182C55.1911 15.7359 55.1385 15.6543 55.085 15.5734L61.0525 6.74408C61.2243 6.48675 60.9665 6.22943 60.7518 6.40098L51.8809 12.3474L51.8251 12.31C51.9521 11.81 51.9233 11.3752 51.8953 10.9545C51.8616 10.4464 51.8293 9.959 52.0746 9.40225C52.2714 8.90025 52.4681 8.63151 52.6762 8.3473C52.877 8.07305 53.0883 7.7844 53.3204 7.25787C53.6944 6.3242 53.6031 5.52327 53.5117 4.72092C53.4561 4.23332 53.4005 3.7452 53.4492 3.22644C53.4922 2.92622 53.4492 2.92622 53.1915 3.14066C52.7506 3.55152 52.6315 3.90213 52.4488 4.43984C52.3646 4.68793 52.2668 4.97589 52.1176 5.32793C51.688 6.33579 50.9685 6.78611 50.249 7.23643C49.5295 7.68675 48.81 8.13707 48.3804 9.14493C48.2009 9.64671 48.0819 10.2377 48.1227 10.7189C48.035 10.6989 47.9473 10.6797 47.8594 10.6614L45.803 0.22516C45.7601 -0.0750534 45.4164 -0.0750534 45.3735 0.22516L43.3176 10.6593L43.2686 10.6692C42.9937 10.2162 42.6676 9.91986 42.3518 9.63282C41.9798 9.29478 41.622 8.96963 41.3786 8.4167C41.161 7.93881 41.1197 7.60395 41.0762 7.25052C41.0338 6.90614 40.9892 6.54413 40.7772 6.01499C40.3822 5.09489 39.7452 4.59375 39.1133 4.09673C38.7144 3.7829 38.3175 3.47072 37.985 3.05574C37.8132 2.84131 37.7273 2.88419 37.7273 3.18441C37.7587 3.84318 37.928 4.20366 38.2016 4.78615C38.3021 5 38.4166 5.24378 38.5435 5.54323C38.9689 6.5413 38.7729 7.35011 38.5761 8.16229C38.3755 8.9904 38.174 9.822 38.6294 10.8613C38.8331 11.3606 39.1538 11.8039 39.5645 12.1539C39.4609 12.2183 39.3585 12.2842 39.2574 12.3516L30.4248 6.40098C30.167 6.22943 29.9523 6.48675 30.1241 6.74408L36.0705 15.542C35.5475 15.3921 35.0842 15.4274 34.6309 15.4618C34.1273 15.5001 33.6362 15.5375 33.0893 15.319C32.6038 15.1083 32.3465 14.9078 32.0829 14.7025C31.8101 14.49 31.5306 14.2723 30.9845 14.0324C30.0461 13.6577 29.2249 13.7507 28.4164 13.8423C27.9294 13.8975 27.4471 13.9521 26.9466 13.9037C26.6459 13.8609 26.603 13.9037 26.8178 14.1611C27.2619 14.5749 27.6244 14.7035 28.1725 14.898C28.4196 14.9856 28.7044 15.0867 29.0515 15.2333C30.0609 15.6621 30.5012 16.3805 30.9415 17.0989C31.3818 17.8172 31.8221 18.5356 32.8316 18.9645C33.3471 19.148 33.954 19.2681 34.4691 19.2188C34.4405 19.3355 34.4144 19.4528 34.3909 19.5709L23.9384 21.6261C23.6377 21.669 23.6377 22.0121 23.9384 22.055L34.3716 24.1041C33.909 24.3814 33.6087 24.7106 33.3182 25.0292C32.9795 25.4005 32.654 25.7573 32.1001 26.0006C31.6214 26.2178 31.286 26.259 30.932 26.3025C30.5871 26.3449 30.2245 26.3894 29.6945 26.6011C28.773 26.9954 28.271 27.6314 27.7732 28.2622C27.4589 28.6605 27.1462 29.0568 26.7306 29.3887C26.5158 29.5603 26.5587 29.6461 26.8594 29.6461C27.5193 29.6147 27.8803 29.4457 28.4637 29.1725L28.4638 29.1725C28.678 29.0722 28.9221 28.9579 29.222 28.8312C30.2217 28.4065 31.0318 28.6022 31.8453 28.7986C32.6747 28.999 33.5076 29.2001 34.5486 28.7454C35.0501 28.5411 35.4951 28.2196 35.8463 27.8079C35.9216 27.93 35.9989 28.0505 36.0782 28.1695L30.1241 36.9799C29.9523 37.2372 30.167 37.4945 30.4248 37.2801L39.2119 31.4045C39.0942 31.8851 39.127 32.3166 39.1592 32.7391C39.1974 33.2422 39.2347 33.7325 39.016 34.2779C38.8049 34.7627 38.6041 35.0196 38.3985 35.2828C38.1857 35.5551 37.9676 35.8342 37.7273 36.3794C37.352 37.3163 37.4451 38.1362 37.5369 38.9435C37.5921 39.4296 37.6469 39.9112 37.5984 40.4109C37.5555 40.7111 37.5984 40.754 37.8562 40.5395C38.2707 40.0961 38.3995 39.7342 38.5943 39.1869C38.6821 38.9402 38.7833 38.6559 38.9301 38.3094C39.3596 37.3015 40.0791 36.8619 40.7987 36.4223C41.5182 35.9827 42.2377 35.5431 42.6673 34.5353C42.8464 34.0339 42.9654 33.4429 42.925 32.9368C43.0539 32.9677 43.1862 32.9969 43.318 33.0226L45.3735 43.4559C45.4164 43.7561 45.7601 43.7561 45.803 43.4559L47.8525 33.0535C48.1164 33.4507 48.4351 33.7225 48.7441 33.986C49.1441 34.3271 49.5277 34.6543 49.755 35.2215C49.9632 35.7204 50.0099 36.048 50.0566 36.3752C50.1063 36.7232 50.1559 37.0707 50.3993 37.6232C50.7744 38.5593 51.4167 39.0784 52.0451 39.5862C52.4243 39.8927 52.7984 40.195 53.1056 40.5824C53.2383 40.6929 53.3027 40.7464 53.3339 40.7314C53.3633 40.7172 53.3633 40.6422 53.3633 40.4966C53.3943 39.8162 53.2242 39.4704 52.9498 38.9122C52.8436 38.6964 52.7219 38.4488 52.5901 38.1378C52.1854 37.1383 52.3722 36.3286 52.5586 35.5204C52.7481 34.6988 52.9373 33.8788 52.5042 32.8626C52.3242 32.3604 51.9939 31.8586 51.5892 31.5331C51.69 31.4702 51.7903 31.4058 51.8899 31.3397L60.7088 37.2801C60.9665 37.4516 61.1813 37.1943 61.0095 36.937L55.0704 28.1493L55.0949 28.112C55.5937 28.2375 56.028 28.2087 56.4481 28.1808C56.9569 28.147 57.4452 28.1147 58.0026 28.3594C58.5054 28.5559 58.7745 28.7523 59.0592 28.9601C59.3339 29.1605 59.623 29.3715 60.1504 29.6032C61.0855 29.9767 61.8877 29.8855 62.6914 29.7942C63.1797 29.7388 63.6687 29.6832 64.1882 29.7319C64.4889 29.7747 64.4889 29.7319 64.2742 29.4745C63.8626 29.0343 63.5115 28.9154 62.9729 28.7331C62.7244 28.6489 62.436 28.5513 62.0834 28.4023C61.0739 27.9735 60.6229 27.2551 60.1719 26.5367C59.7208 25.8184 59.2698 25.1 58.2603 24.6711C57.7564 24.4914 57.1628 24.3709 56.68 24.4138C56.7036 24.3121 56.7251 24.2096 56.7461 24.1067L67.1952 22.055C67.4959 22.0121 67.4959 21.669 67.1952 21.6261ZM45.5883 31.8333C44.2732 31.8357 42.9707 31.5788 41.7553 31.0774C40.54 30.576 39.4357 29.8401 38.5058 28.9117C37.576 27.9833 36.8388 26.8808 36.3366 25.6674C35.8345 24.4539 35.5772 23.1535 35.5795 21.8405C35.5795 16.3509 40.0469 11.8477 45.5883 11.8477C51.0866 11.8477 55.5541 16.3509 55.5541 21.8405C55.5541 27.373 51.0866 31.8333 45.5883 31.8333ZM56.7139 15.2787C57.5521 14.94 58.2605 15.1104 59.0115 15.2911C59.8768 15.4993 60.7985 15.7211 62.0404 15.1929C62.2278 15.1424 62.403 15.0549 62.5559 14.9356C62.2552 15.3216 61.9116 15.5789 61.3961 15.7934C60.807 16.0454 60.1974 16.0197 59.5722 15.9934C58.9208 15.9659 58.2525 15.9378 57.573 16.2222C56.9635 16.4658 56.5464 16.863 56.1031 17.4857C55.9165 17.0368 55.7013 16.6003 55.4587 16.1789C55.7298 15.8427 56.2607 15.4425 56.7139 15.2787ZM59.6349 7.68761L53.5781 13.7348C53.179 13.3397 52.7516 12.9742 52.2993 12.6411L59.6349 7.68761ZM48.81 9.31734C49.1502 8.47817 49.7701 8.10442 50.4308 7.70606C51.1883 7.24933 51.9994 6.76025 52.5042 5.50034C52.5272 5.44288 52.5502 5.39158 52.5716 5.34396C52.63 5.21387 52.676 5.11127 52.676 4.98569C52.719 5.45745 52.676 5.84344 52.4612 6.35809C52.2254 6.95737 51.765 7.38575 51.2934 7.82447C50.82 8.26487 50.3354 8.71568 50.0557 9.36023C49.8108 9.97137 49.7602 10.583 49.9397 11.3048C49.4863 11.1149 49.0208 10.9552 48.5462 10.8266C48.5187 10.3625 48.6064 9.76294 48.81 9.31734ZM45.5024 1.89778V10.4324C44.9346 10.4364 44.3678 10.4824 43.8069 10.5701L45.5024 1.89778ZM39.016 10.6897C38.6767 9.85284 38.8474 9.14555 39.0284 8.39582C39.2369 7.53189 39.459 6.61159 38.9301 5.37168C38.8617 5.1919 38.7754 5.01947 38.6723 4.85702C39.0589 5.20013 39.3167 5.45745 39.5315 5.9721C39.7625 6.55926 39.7368 7.17717 39.7104 7.81081C39.6829 8.47308 39.6546 9.15254 39.9181 9.83199C40.2097 10.4148 40.6234 10.8759 41.236 11.2945C40.7843 11.4807 40.3449 11.6956 39.9206 11.9378C39.5843 11.6333 39.1809 11.1015 39.016 10.6897ZM31.4128 7.81627L37.4515 13.8454C37.0492 14.2536 36.6781 14.6913 36.3411 15.1548L31.4128 7.81627ZM33.0021 18.5382C32.1583 18.1972 31.7843 17.5841 31.3836 16.9272C30.9275 16.1795 30.4367 15.3749 29.179 14.8498C29.0142 14.7735 28.8413 14.716 28.6636 14.6783C29.1467 14.6257 29.6353 14.6996 30.0811 14.8927C30.6436 15.1215 31.0546 15.5622 31.4806 16.019C31.9329 16.504 32.4023 17.0073 33.088 17.2944C33.68 17.5479 34.3136 17.5946 35.0709 17.3896C34.8752 17.8483 34.71 18.3194 34.5765 18.7998C34.107 18.8302 33.4558 18.7432 33.0021 18.5382ZM34.162 21.9263C34.1659 22.493 34.2117 23.0587 34.299 23.6186L25.6137 21.9263H34.162ZM34.3767 28.3594C33.5385 28.6982 32.8301 28.5277 32.0792 28.3471C31.2138 28.1389 30.2921 27.9171 29.0502 28.4452C28.8701 28.5135 28.6974 28.5997 28.5347 28.7025C28.8784 28.3166 29.1361 28.0592 29.6516 27.8448C30.2397 27.6141 30.8586 27.6398 31.4932 27.6661C32.1565 27.6936 32.8371 27.7218 33.5176 27.4588C34.1065 27.1646 34.5722 26.7464 34.9944 26.125C35.1796 26.5796 35.3941 27.0217 35.6366 27.4485C35.3282 27.7856 34.7925 28.1926 34.3767 28.3594ZM37.5722 29.9724C37.9835 30.3767 38.4246 30.7494 38.8918 31.0875L31.4987 36.0363L37.5722 29.9724ZM42.2377 34.3637C41.8962 35.2062 41.2821 35.5796 40.6241 35.9797C39.8752 36.4351 39.0694 36.9251 38.5435 38.1807C38.467 38.3453 38.4094 38.5179 38.3716 38.6954C38.319 38.213 38.393 37.7252 38.5864 37.2801C38.8156 36.7185 39.257 36.3082 39.7145 35.8829C40.2003 35.4312 40.7044 34.9626 40.992 34.2779C41.2415 33.6964 41.2888 33.0741 41.0963 32.3343C41.5535 32.5293 42.0231 32.6942 42.5019 32.8279C42.5264 33.2915 42.4383 33.9215 42.2377 34.3637ZM45.6742 41.7833V33.2486C46.2419 33.2447 46.8085 33.1982 47.3692 33.1097L45.6742 41.7833ZM52.1176 32.9913C52.4569 33.8282 52.2862 34.5355 52.1052 35.2852C51.8967 36.1492 51.6745 37.0695 52.2035 38.3094C52.2541 38.4964 52.3417 38.6714 52.4612 38.824C52.0746 38.5238 51.8169 38.1807 51.6021 37.6661C51.3497 37.0779 51.3754 36.4693 51.4018 35.845C51.4293 35.1947 51.4575 34.5274 51.1726 33.8491C50.9303 33.2448 50.5364 32.8296 49.92 32.3909C50.37 32.2049 50.8075 31.99 51.2297 31.7476C51.5613 32.0208 51.9548 32.544 52.1176 32.9913ZM59.7208 35.8648L53.6924 29.8464C54.0938 29.4385 54.4641 29.0013 54.8002 28.5383L59.7208 35.8648ZM58.0885 25.1C58.929 25.4396 59.3033 26.0586 59.7023 26.7182C60.1598 27.4745 60.6496 28.2844 61.9116 28.7883C61.9691 28.8113 62.0205 28.8343 62.0682 28.8556C62.1985 28.9139 62.3013 28.9599 62.427 28.9599C61.9545 29.0028 61.5679 28.9599 61.0525 28.7454C60.4522 28.51 60.0231 28.0503 59.5837 27.5795C59.1426 27.1068 58.6911 26.623 58.0455 26.3437C57.433 26.0993 56.82 26.0491 56.097 26.2288C56.2856 25.7758 56.4446 25.3111 56.573 24.8375C57.0373 24.8084 57.64 24.8958 58.0885 25.1ZM56.9716 21.7548C56.9675 21.188 56.9211 20.6223 56.8329 20.0624L65.5199 21.7548H56.9716Z" fill="url(#sol_linear_gradient)"/>
            <defs>
            <linearGradient id="sol_linear_gradient" x1="23.7129" y1="21.8405" x2="67.4207" y2="21.8405" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFEA8B"/>
                <stop offset="1" stop-color="#A88D00"/>
            </linearGradient>
            </defs>
        </svg>
    </a>
{% endblock %}
