{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="pager__heading visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items">
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.09234 6.80907L0.740233 7.16406L1.09234 7.51905L7.28584 13.7632L7.99006 13.0532L2.69596 7.71582L16.555 7.71582L16.555 6.71582L2.59328 6.71582L7.99006 1.27491L7.28584 0.564927L1.09234 6.80907Z" fill="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="pager__item is-active">{{ items.current }}</li>
      {% endif %}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9077 7.51906L16.2598 7.16407L15.9077 6.80908L9.71411 0.56494L9.00989 1.27492L14.3035 6.61182L0.444946 6.61182L0.444946 7.61182L14.4072 7.61182L9.00989 13.0532L9.71411 13.7632L15.9077 7.51906Z" fill="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
