{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div class="allMessages" data-drupal-messages>
{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'messages',
      'messages--' ~ type,
    ]
  %}
  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
    {% if type == 'error' %}
      <div role="alert">
    {% endif %}
      {% if status_headings[type] %}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ messages|first }}</p>
      {% endif %}
    {% if type == 'error' %}
      </div>
    {% endif %}

    <button class="close">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.07523 0.36837C0.879971 0.173108 0.563389 0.173108 0.368127 0.36837C0.172865 0.563633 0.172865 0.880215 0.368127 1.07548L7.79275 8.5001L0.368126 15.9247C0.172864 16.12 0.172864 16.4366 0.368126 16.6318C0.563388 16.8271 0.879971 16.8271 1.07523 16.6318L8.49986 9.2072L15.9245 16.6318C16.1197 16.8271 16.4363 16.8271 16.6316 16.6318C16.8268 16.4366 16.8268 16.12 16.6316 15.9247L9.20696 8.5001L16.6316 1.07548C16.8268 0.880216 16.8268 0.563633 16.6316 0.368371C16.4363 0.173109 16.1197 0.173109 15.9245 0.368371L8.49986 7.79299L1.07523 0.36837Z" fill="#FFFFFF"/>
        </svg>
    </button>
  </div>
  {# Remove type specific classes. #}
  {% set attributes = attributes.removeClass(classes) %}
{% endfor %}
{% endblock messages %}
</div>
