{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items">
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="pager__item pager__item--first">
          <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.09234 6.80907L3.74023 7.16406L4.09234 7.51905L10.2858 13.7632L10.9901 13.0532L5.69596 7.71582L19.555 7.71582L19.555 6.71582L5.59328 6.71582L10.9901 1.27491L10.2858 0.564927L4.09234 6.80907Z" fill="#18126C"/>
                    <line x1="0.5" y1="3.66382" x2="0.5" y2="10.6638" stroke="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.09234 6.80907L0.740233 7.16406L1.09234 7.51905L7.28584 13.7632L7.99006 13.0532L2.69596 7.71582L16.555 7.71582L16.555 6.71582L2.59328 6.71582L7.99006 1.27491L7.28584 0.564927L1.09234 6.80907Z" fill="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="pager__item{{ current == key ? ' is-active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9077 7.51906L16.2598 7.16407L15.9077 6.80908L9.71411 0.56494L9.00989 1.27492L14.3035 6.61182L0.444946 6.61182L0.444946 7.61182L14.4072 7.61182L9.00989 13.0532L9.71411 13.7632L15.9077 7.51906Z" fill="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="pager__item pager__item--last">
          <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span class="icon" aria-hidden="true">
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4623 7.51857L15.8145 7.16358L15.4623 6.80859L9.26885 0.564449L8.56462 1.27443L13.8587 6.61182L-0.000287404 6.61182L-0.000287489 7.61182L13.9614 7.61182L8.56462 13.0527L9.26884 13.7627L15.4623 7.51857Z" fill="#18126C"/>
                    <line x1="19.0547" y1="10.6638" x2="19.0547" y2="3.66382" stroke="#18126C"/>
                </svg>
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
