/**
 * @file
 * Block types styles
 *
 */

// generic layouts
.layout--twocol {
    align-items: center;
}

// text module
.paragraph--type--text {
    @include wrapper;
    padding-top: 35px;
    padding-bottom: 35px;

    .field--name-field-body {
        max-width: 790px;
        margin: 0 auto;

        h2 {
            font-size: 400%;
            margin-bottom: .8em;
        }
    }
}

// text with image on the side
.paragraph--type--text-and-image {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;

    @media screen and (max-width: $medium-screen-width) {
        align-items: flex-start;
    }

    @media screen and (max-width: $smallish-screen-width) {
        flex-direction: column;
    }

    &.image-aligned-left {
        flex-direction: row-reverse;

        @media screen and (max-width: $smallish-screen-width) {
            flex-direction: column-reverse;
        }
    }

    .field--name-field-body {
        width: 55%;

        @media screen and (max-width: $smallish-screen-width) {
            width: 100%;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 400%;
            margin-bottom: .8em;
        }

        h3 {
            font-size: 300%;
            margin-bottom: .8em;
        }

        h4 {
            font-size: 200%;
            margin-bottom: .8em;
        }

        h6 {
            font-size: 140%;
            margin-bottom: .8em;
            font-family: $base-font-family;
            color: $dark_grey;
            font-weight: normal;

            a {
                color: $dark_grey;
            }
        }
    }

    .field--name-field-image {
        width: 35%;

        @media screen and (max-width: $smallish-screen-width) {
            width: 100%;
        }
    }
}

// text with two pictures on the side
.paragraph--type--text-and-two-pics {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &.image-aligned-left {
        flex-direction: row-reverse;
    }

    .field--name-field-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 60px;
        width: 40%;

        @media screen and (max-width: $mediumish-screen-width) {
            padding: 0 20px;
        }

        @media screen and (max-width: $medium-screen-width) {
            width: 100%;
            padding: 0 0 50px;
            align-items: flex-start;
            text-align: left;
        }

        h2 {
            font-size: 400%;
            margin-bottom: .6em;
        }

        p {
            margin-bottom: 0;
        }
    }

    .field--name-field-images {
        width: 58%;
        display: flex;

        @media screen and (max-width: $medium-screen-width) {
            @include wave-effect-reverse('cream');
            width: 100%;
            justify-content: space-between;
        }

        > .field__item {
            @media screen and (max-width: $medium-screen-width) {
                width: 48%;
                overflow: hidden;
            }

            @media screen and (min-width: $medium-screen-width) {
                &:first-child {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                }
            }
        }

        .field--name-field-media-image {
            height: 500px;

            @media screen and (max-width: $mediumish-screen-width) {
                height: 400px;
            }

            @media screen and (max-width: $medium-screen-width) {
                height: 300px;
            }

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

// two column special
.two-column-special {
    @include wave-effect;

    .layout {
        @include wrapper;
        padding-top: 30px;
        padding-bottom: 200px;
        text-align: center;
    }

    .paragraph--type--image .field--name-field-image article .field--name-field-media-image img {
        width: 100%;
    }

    .layout__region--first {
        padding-right: 48px;

        @media screen and (max-width: $medium-screen-width) {
            padding-right: 0;
        }

        .paragraph--type--text {
            padding: 80px;

            @media screen and (max-width: $medium-screen-width) {
                padding: 0 0 40px;
            }

            .field--name-field-body {
                max-width: none;

                h2 {
                    font-size: 600%;
                    line-height: 1.1;
                    margin-bottom: .4em;

                    @media screen and (max-width: $smallisher-screen-width) {
                        font-size: 400%;
                    }
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .layout__region--second {
        padding-top: 92px;
        padding-left: 48px;

        @media screen and (max-width: $smallisher-screen-width) {
            padding: 0;
            margin-top: 20px;
        }

        .paragraph--type--text {
            padding: 80px 80px 20px;

            @media screen and (max-width: $medium-screen-width) {
                padding: 40px 0;
            }

            .field--name-field-body {
                max-width: none;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// image
.paragraph--type--image {
    .field--name-field-media-image {
        img {
            margin: 0 auto;

            .layout--onecol > .layout__region > & {
                width: auto;
            }
        }
    }

    .field--name-field-image-caption {
        font-size: 140%;
        line-height: 1.3;
        padding-top: .4em;
        text-align: left;
        color: rgba(black, .6);
    }
}

// image gallery
.paragraph--type--gallery {
    @include wrapper;
    padding-top: 35px;
    padding-bottom: 35px;

    .field--name-field-images {
        display: flex;

        @media screen and (max-width: $small-screen-width) {
            flex-direction: column;
        }

        > .field__item {
            &:first-child {
                margin-right: 10px;

                @media screen and (max-width: $small-screen-width) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                margin-left: 10px;

                @media screen and (max-width: $small-screen-width) {
                    margin-left: 0;
                }
            }
        }

        .field--name-field-media-image {
            height: 225px;

            @media screen and (max-width: $small-screen-width) {
                height: auto;
            }

            img {
                height: 100%;
                width: auto;

                @media screen and (max-width: $small-screen-width) {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}

// CTA
.paragraph--type--cta {
    text-align: center;

    .field--name-field-cta {
        a {
            @include buttonize-underlined;
        }
    }
}

// Video
.paragraph--type--video {
    .field--name-field-video-url {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

// Hero
.paragraph--type--hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    #hero-campaign-video &, #hero-campaign-photo &, #hero-campaign-page & {
        height: 100vh;
    }

    .field--name-field-video-url, .field--name-field-video-url-mobile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .field--name-field-video-url {
        @media screen and (min-width: $medium-screen-width) {
            display: block;
        }
    }
    .field--name-field-video-url-mobile {
        @media screen and (max-width: $medium-screen-width) {
            display: block;
        }
    }

    .field--name-field-video-embed {
        display: none;
    }

    .field--name-field-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        article {
            height: 100%;

            .field--name-field-media-image {
                height: 100%;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .field--name-field-body {
        z-index: 2;
        text-align: center;
        padding: 0 $page-horizontal-padding-mobile;

        p {
            color: $theme_white;
        }

        h3 {
            font-size: 2.5vh;
            color: $theme_white;

            @media screen and (max-width: $smallish-screen-width) {
                font-size: 200%;
            }
        }

        h2 {
            font-family: $base-font-family-medium;
            font-size: 5.5vh;
            line-height: 1.1;
            text-transform: uppercase;
            color: $theme_white;
            text-shadow: -0.473px -0.473px 2.365px rgba(white, .3), 0.473px 0.473px 2.365px rgba(black, .3);
            margin: .3em 0;

            @media screen and (max-width: $smallish-screen-width) {
                font-size: 340%;
                
                br {
                    display: none;
                }
            }
        }
    }

    .field--name-field-cta {
        z-index: 2;
        margin-top: 15px;

        a {
            @include buttonize-transparent;
        }
    }
}

// contest intro
#hero-campaign-photo.hero-contest-intro {
    background-color: $theme_green;

    html[lang="es"] & .paragraph--type--hero {
        height: 75vh;
    }
}

// Campaign Hero with photo
#hero-campaign-photo {
    .paragraph--type--hero {
        @media screen and (max-width: $medium-screen-width) {
            position: relative;
            overflow: hidden;
        }
        
        .field--name-field-body {
            text-align: center;
            margin-top: 10vh;

            h3 {
                margin: 0;
                font-size: 200%;
                line-height: 1.1;
                font-weight: normal;
            }

            h2 {
                font-size: 5.33vh;
                line-height: 1.1;
                font-weight: normal;
                margin: .2em 0;
                text-shadow: none;

                @media screen and (max-width: $smallisher-screen-width) {
                    font-size: 400%;
                }

                @media screen and (max-width: $micro-screen-width) and (max-height: 800px) {
                    font-size: 300%;
                }
            }
        }

        .field--name-field-cta {
            a {
                @include buttonize-white;
            }
        }
    }
}

// wine teaser
.paragraph--type--product-teaser {
    padding: 0 50px;
    
    .field--name-field-image, .field--name-field-image-alt {
        margin-bottom: 35px;

        article {
            .field--name-field-media-image {
                height: 392px;

                img {
                    @extend %crispy;
                    margin: 0 auto;
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    .field--name-field-image-alt {
        display: none;
    }

    .field--name-field-title {
        text-align: center;
        font-size: 160%;
        font-family: $base-font-family-medium;
    }
}

// our wines
.our-wines {
    @include wave-effect('cream');
    background-color: $theme_cream;

    > .layout {
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 150px;
    }

    .paragraph--type--text {
        @include wrapper;
        padding-top: 0;
        padding-bottom: 0;

        .field--name-field-body {
            max-width: none;

            h2 {
                text-align: center;
                font-size: 600%;
                line-height: 1.1;
                margin-bottom: .6em;

                @media screen and (max-width: $smallisher-screen-width) {
                    font-size: 400%;
                }
            }
        }
    }
}
.wines-list {
    padding-top: 80px;
    background: url("../images/wine-waves.svg") no-repeat center 60%;
    background-size: contain;

    @media screen and (max-width: $smallish-screen-width) {
        background-size: 300%;
    }

    > .layout {
        @include wrapper;
    }

    .layout__region--content {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $smallish-screen-width) {
            display: block;

            > div {
                margin-bottom: 50px;
            }
        }
    }
}
#our-wines-menu {
    padding-top: 90px;
    overflow: hidden;

    @media screen and (max-width: $smallisher-screen-width) {
        padding-bottom: 90px;
    }

    .wines-list {
        padding-top: 40px;

        .paragraph--type--product-teaser {
            position: relative;
            top: 0;
            transition: top ease-in-out .3s;

            &:hover {
                top: -30px;
            }

            .field--name-field-image, .field--name-field-image-alt {
                article {
                    .field--name-field-media-image {
                        height: 455px;

                        @media screen and (max-width: $smallisher-screen-width) {
                            height: 50vh;
                        }
                    }
                }
            }
    
            .field--name-field-cta {
                display: none;
            }
        }
    }
}

.wine-pairing {
    @include wave-effect-reverse;
    background-color: $theme_cream;

    @media screen and (max-width: $mediumish-screen-width) {
        padding-top: 50px;
    }
}

// wine card
.wine-card {
    @include wave-effect;

    @media screen and (min-width: $mediumish-screen-width) {
        background: url("../images/wine-left.svg") no-repeat left center;

        &.wine-card-right {
            background-image: url("../images/wine-right.svg");
            background-position: right center;
        }
    }

    > .layout {
        @include wrapper;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: $mediumish-screen-width) {
            display: block;
            position: relative;
            padding-top: 420px;
            padding-bottom: 50px;
        }
    }

    .paragraph--type--image {
        @media screen and (max-width: $mediumish-screen-width) {
            position: absolute;
            top: 50px;
            left: 100px;
        }

        .field--name-field-image, .field--name-field-image-alt {
            article {
                .field--name-field-media-image {
                    height: 640px;

                    @media screen and (max-width: $mediumish-screen-width) {
                        height: 370px;
                    }
    
                    img {
                        @extend %crispy;
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        .field--name-field-image-alt {
            display: none;
        }
    }
}
@media screen and (min-width: $mediumish-screen-width) {
    .magnifiedPane {
        position: relative;
        border: 1px solid transparent;
        padding: 10px;

        &.magnifiedPaneVisible {
            border-color: $theme_gold;
        }
    }
}

// wine product
.paragraph--type--product {
    .contentMain {
        @media screen and (max-width: $mediumish-screen-width) {
            padding: 0 50px;
        }

        @media screen and (max-width: $micro-screen-width) {
            padding: 0;
        }
    }

    .wineInfo {
        padding-top: 60px;

        @media screen and (max-width: $mediumish-screen-width) {
            padding: 40px 50px 0;
        }

        @media screen and (max-width: $micro-screen-width) {
            padding: 40px 0 0;
        }

        .field {
            margin-bottom: 20px;
            font-size: 140%;
            display: flex;
            align-items: center;

            &:before {
                content: "";
                width: 28px;
                height: 28px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 15px;
            }

            &.field--name-field-wine-grape {
                &:before {
                    background-image: url("../images/wine-grape.svg");
                }
            }

            &.field--name-field-wine-is-organic {
                &:before {
                    background-image: url("../images/wine-organic.svg");
                }
            }

            &.field--name-field-wine-is-vegan {
                &:before {
                    background-image: url("../images/wine-vegan.svg");
                }
            }

            &.field--name-field-wine-aging {
                &:before {
                    background-image: url("../images/wine-aging.svg");
                }
            }

            &.field--name-field-wine-temp {
                &:before {
                    background-image: url("../images/wine-temp.svg");
                }
            }

            &.field--name-field-wine-alcohol {
                &:before {
                    background-image: url("../images/wine-alcohol.svg");
                }
            }
        }
    }

    .field--name-field-body {
        @media screen and (max-width: $mediumish-screen-width) {
            padding-top: 45px;
            max-width: 800px;
        }

        h2 {
            font-size: 600%;
            line-height: 1.1;
            margin-bottom: .6em;

            @media screen and (max-width: $big-screen-width) {
                font-size: 400%;
            }

            @media screen and (max-width: $mediumish-screen-width) {
                position: absolute;
                top: 100px;
                left: 240px;
            }

            @media screen and (max-width: $micro-screen-width) {
                left: 190px;
                width: 40%;
                font-size: 320%;
            }
        }
    }

    .field--name-field-cta {
        a {
            @include buttonize-underlined;
        }
    }
}

// discover the prizes
#discover-the-prizes {
    @include wave-effect;

    > .layout {
        @include wrapper;
        padding-top: 100px;
        padding-bottom: 180px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        @media screen and (max-width: $smallish-screen-width) {
            padding-bottom: 0;
        }
    }

    .layout__region {
        padding: 0 30px;

        @media screen and (max-width: $medium-screen-width) {
            padding: 0 15px;
        }

        @media screen and (max-width: $smallish-screen-width) {
            padding: 0 0 80px;
            width: 100%;
            flex: auto;
        }

        &.layout__region--top {
            padding: 0;
        }

        html[lang="es"] &.layout__region--first {
            display: none;
        }
    }

    .paragraph--type--text {
        padding: 0;

        .field--name-field-body {
            max-width: none;
            text-align: center;

            h2 {
                font-size: 600%;
                line-height: 1.1;
                margin-bottom: .9em;

                @media screen and (max-width: $mediumish-screen-width) {
                    font-size: 400%;
                }
            }
        }
    }
}

// prize teaser
.paragraph--type--prize-teaser {
    .imageLink {
        display: block;
        position: relative;
        transition: all ease .3s;

        &:hover {
            transform: rotate(-0.63deg);

            &:before {
                opacity: 1;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, .4);
            opacity: 0;
            transition: all ease .3s;
        }
    }
    .field--name-field-image {
        margin-bottom: 20px;
    }

    .field--name-field-title {
        font-size: 180%;
        font-family: $base-font-family-medium;
        text-transform: uppercase;
        margin-bottom: .7em;
    }

    .field--name-field-body {
        p {
            margin-bottom: 0;
        }

        ul {
            max-width: 400px;
            column-gap: 20px;
            column-count: 2;

            li {
                font-size: 160%;
                margin-bottom: .5em;
            }
        }
    }

    .field--name-field-cta {
        margin-top: 30px;

        a {
            @include buttonize-underlined;
        }
    }
}

// prize detail top
#prize-detail-top {
    .paragraph--type--text {
        text-align: center;

        h1 {
            font-size: 600%;

            @media screen and (max-width: $small-screen-width) {
                font-size: 350%;
            }
        }

        h2 {
            font-size: 400%;
            margin-bottom: .1em;

            @media screen and (max-width: $small-screen-width) {
                font-size: 250%;
            }
        }
    }
}

// prize detail middle
#prize-detail-middle {
    padding-bottom: 20px;

    > .layout {
        @include wrapper;
        justify-content: space-between;

        @media screen and (max-width: $small-screen-width) {
            flex-direction: column-reverse;
        }
    }

    @media screen and (min-width: $small-screen-width) {
        .layout__region--first {
            flex: 0 1 55%;
        }
    }

    .layout__region--first {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .paragraph--type--text {
            padding: 0;

            .field--name-field-body {
                h5 {
                    font-size: 140%;
                    margin-bottom: .8em;
                    font-family: $base-font-family;
                    color: $theme_green;
                    font-weight: normal;
        
                    a {
                        color: $theme_green;
                    }
                }
            }
        }
        
        .paragraph--type--cta {
            text-align: left;

            .field--name-field-cta a {
                @include buttonize;
    
                &:before, &:after {
                    content: none;
                }
            }
        }
    }

    .layout__region--second {
        @media screen and (min-width: $small-screen-width) {
            flex: 0 1 35%;
        }

        @media screen and (max-width: $small-screen-width) {
            margin-bottom: 30px;
        }
    }
}

// text with 3 icons on the right
.text-and-icons {
    > .layout {
        @include wrapper;
        padding-top: 80px;
        padding-bottom: 160px;
        flex-wrap: wrap;

        @media screen and (max-width: $mediumish-screen-width) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        > .layout__region {
            @media screen and (max-width: $mediumish-screen-width) {
                width: 100%;
                flex: auto;
            }
        }

        > .layout__region--first {
            padding-right: 80px;

            @media screen and (max-width: $mediumish-screen-width) {
                padding-right: 0;
                margin-bottom: 64px;
            }

            .field--name-field-body {
                h2 {
                    font-size: 500%;
                    line-height: 1.1;
                    margin-bottom: .5em;

                    @media screen and (max-width: $mediumish-screen-width) {
                        font-size: 300%;
                    }
                }
            
                p {
                    font-size: 140%;
                    margin-bottom: 0;
                }
            }
        }
    }

    .paragraph--type--text {
        padding: 0;
    }
}
// columns with icon and text
.columns-with-icon-and-text {
    max-width: 600px;
    margin: 0 auto;

    .layout__region {
        padding: 0 30px;

        @media screen and (max-width: $small-screen-width) {
            margin-bottom: 30px;
        }

        .field--name-field-image {
            margin-bottom: 20px;

            .field--name-field-media-image {
                height: 42px;
                text-align: center;

                img {
                    height: 100%;
                }
            }
        }

        .field--name-field-body {
            text-align: center;

            p {
                font-size: 140%;
                margin-bottom: 0;
            }
        }
    }
}

// contest intro
#contest-intro {
    @include wave-effect('green2');
    background-color: $theme_green;
    color: $theme_white;

    a {
        color: $theme_white;
    }

    > .layout--twocol > .layout__region {
        &.layout__region--first {
            .paragraph--type--text .field--name-field-body {
                text-align: center;
            }
        }

        &.layout__region--second {
            .paragraph--type--text {
                margin-bottom: 45px;

                .field--name-field-body {
                    max-width: none;

                    h3 {
                        font-size: 160%;
                        font-weight: normal;
                        text-align: center;
                        font-family: $base-font-family;
                    }
                }
            }

            .columns-with-icon-and-text {
                .layout__region {
                    @media screen and (max-width: $small-screen-width) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 40px;
                    }

                    &::before {
                        content: "01";
                        display: block;
                        margin-bottom: 6px;
                        font-family: $base-font-family-medium;
                        font-size: 160%;
                        text-align: center;

                        @media screen and (max-width: $small-screen-width) {
                            margin-bottom: 0;
                            margin-right: 40px;
                        }
                    }

                    &.layout__region--second {
                        &::before {
                            content: "02";
                        }
                    }
                    &.layout__region--third {
                        &::before {
                            content: "03";
                        }

                        .field--name-field-body {
                            @media screen and (max-width: $small-screen-width) {
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }

                    .field--name-field-body {
                        @media screen and (max-width: $small-screen-width) {
                            position: relative;
                            max-width: 190px;
                            text-align: left;

                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 36px;
                                left: -51px;
                                width: 1px;
                                height: 40px;
                                background-color: $theme_white;
                            }
                        }

                        p {
                            font-family: $base-font-family-medium;
                            font-size: 120%;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .paragraph--type--cta {
                margin: 45px 0;

                .field--name-field-cta {
                    a {
                        @include buttonize-transparent;

                        &:before, &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}

// contest choose country
#block-contest-countries {
    margin: 30px auto;
    max-width: $body-maxwidth;
}
.view-contest-countries {
    .view-content {
        .item-list > ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 20px;
            list-style: none;

            @media screen and (max-width: $smallish-screen-width) {
                padding: 0 20px;
            }

            @media screen and (max-width: $micro-screen-width) {
                
            }

            > li {
                text-align: left;
                margin: 0 20px 50px;
                padding-left: 0;

                @media screen and (max-width: $smallish-screen-width) {
                    margin: 0 0 50px;
                }

                &.disabled {
                    opacity: .4;
                }
            }
        }

        .views-field-field-image {
            width: 90px;
            margin-bottom: 15px;
        }

        .views-field-name {
            display: flex;
            align-items: center;
            font-size: 120%;
            color: $theme_white;

            @media screen and (max-width: $smallish-screen-width) {
                font-size: 100%;
            }

            input {
                display: none;
            }
        }

        .activeDates {
            font-size: 90%;
            color: $theme_white;
            max-width: 120px;
        }
    }
}

// contest quiz
.contestQuiz {
    margin: 0 auto;
    max-width: $body-maxwidth;

    .quizMessage {
        color: $error_color;
        font-size: $base-font-size;
        margin-bottom: 1em;
    }

    button[data-action="submitQuiz"] {
        @include buttonize;

        &[disabled] {
            opacity: .2;
        }
    }

    .quizQuestion {
        text-align: left;
        margin-bottom: 45px;

        > h3 {
            font-size: 240%;
            margin-bottom: .7em;
        }
    }

    .quizAnswers {
        .quizAnswer {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            input {
                margin-right: 8px;
            }

            label {
                font-size: $base-font-size;
            }
        }
    }
}

// instagram feed
#block-instagram-feed {
    @include wave-effect;

    > .inner {
        @include wrapper;
        padding-top: 110px;
        padding-bottom: 200px;
    }

    header {
        h2 {
            font-size: 600%;
            line-height: 1.1;
            margin-bottom: .75em;
            word-break: break-all;

            @media screen and (max-width: $smallisher-screen-width) {
                font-size: 400%;
            }
        }
    }

    .field--name-field-body {
        max-width: none;
    }
}

// history
#about-history {
    > .layout {
        height: 100vh;
        overflow: hidden;
        position: relative;

        .wineBottles {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;

            .field--name-field-milestone-wine-img {
                opacity: 0;
                position: absolute;
                height: 560px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all ease .5s;

                @media screen and (min-width: $medium-screen-width) and (max-height: 900px) {
                    height: 60vh;
                }

                &.current {
                    opacity: 1;
                }

                article {
                    height: 100%;

                    .field--name-field-media-image {
                        height: 100%;

                        img {
                            @extend %crispy;
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }

        > .layout__region {
            height: 100%;

            ul.slick-dots {
                bottom: auto;
                left: auto;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                flex-direction: column;
        
                > li {
                    margin: 6px 0;
                    background-color: $theme_white;
                }
            }
        }
    }
}
#organic-wine {
    @include wave-effect-reverse('cream');

    > .layout {
        height: 100vh;
        overflow: hidden;

        @media screen and (max-width: $medium-screen-width) {
            height: auto;
        }

        > .layout__region {
            height: 100%;
            position: relative;

            ul.slick-dots {
                bottom: 20px;
            }
        }
    }

    .paragraph--type--history-milestone {
        background-color: $theme_green;
        color: $theme_white;
        
        .contentMain {
            @media screen and (max-width: $micro-screen-width) and (max-height: 800px) {
                height: auto;
            }

            .field--name-field-milestone-wine-img {
                position: absolute;
                height: 560px;
                left: 50%;
                top: 50%;
                margin: 0 auto;
                transform: translate(-50%, -50%);
                z-index: 2;

                @media screen and (max-width: $medium-screen-width) {
                    height: 40vh;
                    top: 15vh;
                    transform: translate(-50%, 0);
                    margin: 0;
                }

                article {
                    height: 100%;

                    .field--name-field-media-image {
                        height: 100%;

                        img {
                            @extend %crispy;
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }

            .field--name-field-body {
                margin: 0 auto;

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        padding: 0;

                        svg {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}
.paragraph--type--history-milestone {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    background-color: $theme_cream;

    @media screen and (max-width: $medium-screen-width) {
        flex-direction: column;
    }

    &:nth-child(even) {
        background-color: $theme_green;
        color: $theme_white;
    }

    .field--name-field-image {
        width: 50%;

        @media screen and (max-width: $medium-screen-width) {
            width: 100%;
            height: 50vh;
        }

        article {
            height: 100%;

            .field--name-field-media-image {
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .contentMain {
        width: 50%;
        display: flex;
        padding: 130px;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: $medium-screen-width) {
            width: 100%;
            height: 50vh;
            padding: 40px;
            text-align: center;

            .field--name-field-milestone-wine-img {
                height: 280px;
                position: relative;
                margin: -250px auto 10px;

                article {
                    height: 100%;

                    .field--name-field-media-image {
                        height: 100%;

                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }

        .yearAndMedal {
            display: flex;
            align-items: center;

            @media screen and (max-width: $medium-screen-width) {
                justify-content: center;
            }

            .field--name-field-milestone-medal {
                height: 100px;
                margin-left: 40px;

                @media screen and (max-width: $medium-screen-width) {
                    height: 70px;
                    margin-left: 20px;
                }

                article {
                    height: 100%;

                    .field {
                        height: 100%;

                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
        .field--name-field-year {
            font-size: 1200%;
            font-family: $title-font-family;
            letter-spacing: -.05em;

            @media screen and (max-width: $medium-screen-width) {
                font-size: 720%;
            }
        }

        .field--name-field-body {
            max-width: $body-maxwidth;

            @media screen and (max-width: $medium-screen-width) {
                margin: 0 auto;
            }

            h2 {
                font-size: 140%;
                line-height: 1.5;
                text-transform: uppercase;
                font-family: $base-font-family-medium;
                margin-bottom: 1em;
            }

            p {
                @media screen and (max-width: $medium-screen-width) {
                    font-size: 140%;
                }
            }

            li {
                font-size: $base-font-size;
                line-height: $base-line-height;
                margin-bottom: .4em;

                @media screen and (max-width: $medium-screen-width) {
                    font-size: 140%;
                }
            }
        }
    }
}

// co2 emissions
#co2-emissions {
    @include wave-effect('cream');
    background-color: $theme_cream;

    > .layout {
        @include wrapper;
        padding: 70px 0;
    }
}

// certification
#certification {
    @include wave-effect;

    @media screen and (min-width: $medium-screen-width) {
        background: url("../images/certification-left.svg") left 15% no-repeat, url("../images/certification-right.svg") right 30% no-repeat;
    }

    > .layout {
        padding: 100px 0 250px;
        text-align: center;

        @media screen and (max-width: $medium-screen-width) {
            padding: 80px 0 100px;
        }
    }

    .paragraph--type--text {
        padding-bottom: 0;
    }
}

// reducing carbon
#reducing-carbon {
    @include wave-effect-reverse('cream');
    background-color: $theme_white;

    @media screen and (max-width: $mediumish-screen-width) {
        padding-top: 50px;
    }
}

// proyecto rebo2vino
#rebo2vino {
    @include wave-effect('cream');
    background-color: $theme_cream;
}