/**
* @file
* Forms styles
*
*/
fieldset {
    legend {
        font-size: 200%;
        margin-bottom: .4em;
    }
}

.form-item, .form-wrapper {
    margin-bottom: 20px;

    &.form-type-checkbox {
        text-align: left;
        margin-bottom: 10px;
        
        label {
            display: inline;
            margin-left: 6px;
            font-weight: normal;
            color: $light_grey;
            margin-bottom: 0;
            padding-right: 0;
        }

        .description {
            display: inline;
            padding-top: 0;
            line-height: 1;

            > div {
                display: inline;
            }
        }
    }

    &.form-type-checkbox, &.form-type-radio, &.field--widget-boolean-checkbox {
        margin-bottom: 5px;
    }

    &.form-type-webform-markup {
        max-width: 600px;

        @media screen and (max-width: $medium-screen-width) {
            max-width: none;
        }
    }

    &.form-item-file {
        label {
            display: block;
            text-align: left;
            width: 100%;
            background: url("../images/upload.svg") 95% center no-repeat;
            box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 13px 25px;
            margin: 0;
        }

        input[type="file"] {
            display: none;
        }

        .form-managed-file {
            margin-top: 5px;
            font-size: $base-font-size;
        }
    }

    .description {
        padding-top: 1em;
        font-size: 150%;
        line-height: 1.3;
        color: $light_grey;

        a {
            color: $theme_green;
            text-decoration: underline;
        }
    }

    .filter-wrapper {
        display: none;
    }
    
    label {
        font-size: $base-font-size;
        display: block;
        margin-bottom: .4em;
        color: rgba(black, .6);

        @media screen and (max-width: $medium-screen-width) {
            margin: 0 0 .4em 0;
            text-align: left;
        }
    }
    
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], select, textarea {
        display: block;
        width: 100%;
        font-size: $base-font-size;
        box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 15px;
        padding: 13px 25px;
        background-color: transparent;

        &::placeholder {
            color: rgba(black, .6);
        }

        &:focus {
            outline: none;
        }
    }
    input[type="text"], input[type="email"], input[type="password"], select {
        height: 50px;
    }

    &.form-actions {
        margin: 20px 0 0;

        a, input[type="submit"], button {
            @include buttonize;
        }
    }
}

// captcha
#captcha {
    margin: 30px 0;

    summary {
        display: none;
    }

    .details-wrapper {
        .details-description {
            font-size: $base-font-size;
            line-height: $base-line-height;
            margin-bottom: 1em;
        }

        .form-item-captcha-response {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            label {
                font-weight: bold;
                margin-right: 10px;
            }

            .field-prefix {
                font-size: $base-font-size;
                margin-right: 10px;
            }

            input[type=text] {
                margin-right: 10px;
                width: 120px;
                height: 20px;
                padding: 5px;
            }

            .description {
                padding-top: 0;
                max-width: 320px;
            }
        }
    }
}

// webform Flexbox
@media (min-width: 768px) {
    .webform-flexbox {
        margin: 25px -12px;

        .webform-flexbox {
            margin: 0;
        }

        .form-composite > & {
            margin: 0 -12px;
        }
    }
  
    .webform-flex--container {
        margin: 0 12px;

        > .form-type-webform-select-other .form-item + .form-item {
            margin-top: 0;
        }
    }
}

// contest form
#block-contest-form {
    @include wrapper;
    max-width: 900px;
    padding-bottom: 60px;

    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > div {
            width: 47%;
            min-width: 310px;

            @media screen and (max-width: $smallish-screen-width) {
                width: 100%;
            }

            &.form-item-country {
                display: none;
            }
        }

        > .form-type-checkbox, > .form-actions {
            width: 100%;
        }

        > .form-actions {
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}