/**
 * @file
 * Home styles
 *
 */

body.path-frontpage {
    #hero-campaign-photo {
        @include wave-effect-reverse('cream');

        .paragraph--type--hero {
            .field--name-field-body {
                h2 {
                    text-transform: none;
                    font-family: $title-font-family;
                }
            }
        }
    }
}

//--- Campaign Hero with video ---
// the intro
body.path-frontpage.campaignVideoIntro {
    clip-path: inset(38vh 35vw);
    transition: clip-path ease-in-out 2s;
    overflow: hidden;

    @media screen and (max-width: $micro-screen-width) {
        clip-path: inset(30vh 12vh);
    }

    &[data-intro-step="1"] {
        #hero-campaign-video {
            .paragraph--type--hero {
                .field--name-field-body, .btnPlay {
                    opacity: 0;
                }
            }
        }
    }

    &[data-intro-step="2"] {
        clip-path: inset(0);

        header[role="banner"] {
            .block-system-branding-block {
                opacity: 0;
            }
        }

        #hero-campaign-video {
            .paragraph--type--hero {
                .field--name-field-body {
                    transition: opacity ease 1s;
                    transition-delay: .3s;
                    opacity: 1;
                }

                .btnPlay {
                    transition: opacity ease 1s;
                    transition-delay: .6s;
                    opacity: 1;
                }
            }
        }
    }

    &[data-intro-step="3"] {
        clip-path: inset(0);

        header[role="banner"] {
            .block-system-branding-block {
                opacity: 1;
                width: 91px;
                height: 69px;
                position: absolute;
                top: 12px;
                transform: translate(-50%, 0);
            }
        }
    }

    header[role="banner"] {
        .block-system-branding-block {
            width: 141px;
            height: 107px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity ease .5s;

            @media screen and (max-width: $small-screen-width) {
                width: 91px;
                height: 69px;
            }

            svg {
                path.logotype {
                    fill: white;
                }
            }
        }
    }
}
// the hero
#hero-campaign-video {
    .paragraph--type--hero {
        .field--name-field-body {
            h2 {
                font-size: 7vh;

                @media screen and (max-width: $smallish-screen-width) {
                    font-size: 300%;
                }
            }
        }

        .btnPlay {
            @include buttonize-transparent;
            z-index: 2;
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;

                path {
                    fill: $theme_white;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: black;
                    }
                }
            }
        }

        .field--name-field-cta {
            a {
                @include buttonize-transparent;
            }
        }
    }
}

// our origin
#our-origin {
    background-color: $theme_green;
    color: white;

    &:before {
        background-image: url("../images/wave-green2.png");
    }

    .field--name-field-cta {
        a {
            color: $theme_white;

            &:before, &:after {
                background-color: $theme_white;
            }
        }
    }
}