/**
* @file
* SMACSS Modules
*
* Adds modular sets of styles.
*/

/**
* Accessibility features.
*/

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
    @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
    @include element-invisible-off;
}

.element-focusable,
%element-focusable {
    @extend %element-invisible;
    
    &:active,
    &:focus {
        @extend %element-invisible-off;
    }
}

// buttons
a[data-action], a.btn {
    @include buttonize;
}

// views edit content button
.views-field-edit-node {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;

    a {
        @include buttonize;
        min-width: 0;
        padding: 1px 6px 2px;
        font-size: 120%;
    }
}

// local tasks
.block-local-tasks-block {
    position: relative;
    z-index: 100;
    padding: 20px 0;

    > .inner {
        @include wrapper;
    }
}
ul.tabs {
    display: flex;
    align-items: center;

    li {
        margin-right: 4px;

        &.is-active {
            a {
                color: $body_color;
            }
        }

        a {
            padding: .5em;
            font-size: 140%;
            color: $light_grey;

            &:hover {
                color: $body_color;
            }
        }
    }
}

// tables
table {
    tr {
        border-bottom: 1px solid rgba($theme_green, .3);
        
        th, td {
            padding: 20px;
            font-size: $base-font-size;
            line-height: $base-line-height;

            @media screen and (max-width: $medium-screen-width) {
                padding: 10px 5px;
                font-size: 120%;
            }

            p {
                font-size: 100%;
                margin-bottom: .3em;
            }
        }

        td {
            vertical-align: top;
        }
    }
}

// messages
.allMessages {
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    opacity: 0;
    transition: all ease .5s;
    z-index: 100;

    &.shown {
        opacity: 1;
        bottom: 0;
    }
}
.messages {
    position: relative;
    margin-top: 10px;
    padding: 25px;
    color: $theme_white;
    border: none;
    border-radius: 0;
    background-color: $theme_green;

    &.messages--status {
        background-image: none;
        box-shadow: none;
    }

    &.messages--error {
        background-color: $error_color;
        background-image: none;
        box-shadow: none;
    }

    ul {
        li {
            font-size: $base-font-size;
            line-height: $base-line-height;
            margin-bottom: .4em;
        }
    }

    p {
        margin-bottom: 0;
    }

    button.close {
        border: none;
        background: none;
        padding: 0;
        position: absolute;
        top: 25px;
        right: 25px;
    }
}

// pager
nav.pager {
    padding: 65px 0;

    @media screen and (max-width: $smallisher-screen-width) {
        padding: 30px 0;
    }

    ul.pager__items {
        display: flex;
        align-items: center;
        justify-content: center;

        li.pager__item {
            margin: 0 8px;

            &.pager__item--first, &.pager__item--previous, &.pager__item--next, &.pager__item--last {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border: 1px solid rgba($theme_green, .2);
                    border-radius: 50%;
                }
            }

            &.is-active a, a:hover {
                opacity: 1;
            }

            a {
                opacity: .5;
                font-size: $base-font-size;
                transition: all ease .3s;
            }
        }
    }
}

// empty view text
.view-empty {
    font-size: 180%;
    list-style-type: $base-line-height;
    color: $dark_grey;
    text-align: center;
    padding: 2em;
}

// media embeds
article.media--type-remote-video {
    margin: 30px 0;
}
.field--name-field-media-oembed-video {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// cookies message
#sliding-popup {
    bottom: 0!important;
    width: 100%;
}
.eu-cookie-compliance-banner {
    background-color: $theme_white;
    color: black;
    padding: 16px 0;

    > .eu-cookie-compliance-content {
        @include wrapper;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media screen and (max-width: $mediumish-screen-width) {
            display: block;
        }

        button {
            background: none;
            border: none;
            font-size: 140%;
            padding: 0;
            text-decoration: underline;
        }

        .eu-cookie-compliance-message {
            float: none;

            @media screen and (max-width: $mediumish-screen-width) {
                margin-bottom: 15px;
            }

            p {
                font-size: 140%;
                margin-bottom: 0;
            }

            button.eu-cookie-compliance-more-button {
                position: absolute;
                top: 2px;
                right: 220px;

                @media screen and (max-width: $mediumish-screen-width) {
                    top: auto;
                    bottom: 0;
                    right: $page-horizontal-padding-mobile;
                }
            }
        }

        .eu-cookie-compliance-buttons {
            float: none;

            button {
                margin-right: 10px;
            }
        }
    }
}

// appear on scroll
.appearOnScroll {
    overflow: hidden;

    &.appearOnScrollStarted {
        .animate__animated {
            animation-play-state: running;
        }
    }

    .animate__animated {
        animation-play-state: paused;
    }
    
    span {
        display: block;
    }
}