/**
* @file
* Page modules
*
*/

// unavailable page
body.unavailable-page {
    .modalMenu, header[role=banner] .region-header > .inner > *, footer[role=contentinfo] {
        display: none!important;
    }

    header[role=banner] .region-header > .inner > .block-system-branding-block {
        display: block!important;
    }

    article.node--view-mode-full {
        h1.page-title {
            margin-bottom: .5em;
        }

        .field--type-text-long {
            text-align: center;
        }
    }
}

// legal age modal
body.hasLegalModal {
    .dialog-off-canvas-main-canvas {
        display: none;
    }
}
.modal.legalAgeModal {
    width: 100%;
    height: 100%;
    background: url("/sites/default/files/media/images/vinasol-legal-age-modal.jpg") no-repeat center;
    background-size: cover;

    > .inner {
        height: 100%;
        background-color: rgba(black, .8);
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $theme_white;
    }

    .logo {
        width: 130px;
        height: 98px;
        background: url("../images/logo2.svg") no-repeat center;
        background-size: cover;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 600%;
        line-height: 1;
        margin-bottom: .7em;

        @media screen and (max-width: $small-screen-width) {
            font-size: 320%;

            br {
                display: block;
            }
        }
    }

    .birthdateSelector {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        input[type="text"] {
            width: 40px;
            height: 43px;
            font-size: 140%;
            margin: 0 5px 15px;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid $theme_white;
            background-color: transparent;

            &[name="year"] {
                width: 80px;
            }
        }

        [data-action] {
            @include buttonize-transparent;
            min-width: 125px;
            margin: 0 10px;
        }
    }

    .errorMessage {
        font-size: 140%;
        margin-top: 1em;
        max-width: 240px;
    }
}

// modal menu
.layout-container {
    &:before {
        content: "";
        opacity: 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .5);
        z-index: 21;
        transition: opacity ease .3s;
    }
}
body.modalMenuIsOpen {
    .layout-container:before {
        left: 0;
        opacity: 1;
    }

    .modalMenu {
        left: 0;

        button.openModalMenu {
            display: none;
        }

        button.closeModalMenu {
            display: block;
        }

        > .inner {
            left: 0;
        }

        .block-system-branding-block {
            display: block;
        }

        #block-cta-shop {
            display: block;
        }
    }

    header[role="banner"] .region-header {
        display: none;
    }
}
.modalMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 22;
    transition: all ease .3s;

    @media screen and (min-width: $smallish-screen-width) {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 74.8%;
            width: 154px;
            height: 100%;
            background: url("../images/wave-green-vertical2.svg") repeat-y left top;
            z-index: 1;
            
            @media screen and (max-width: $smallish-screen-width) {
                content: none;
            }
        }
    }

    button {
        border: none;
        background: none;
        position: fixed;
        top: 25px;
        left: $page-horizontal-padding;
        z-index: 3;

        @media screen and (max-width: $smallish-screen-width) {
            left: $page-horizontal-padding-mobile;
        }

        &.openModalMenu {
            line {
                body.notScrolled & {
                    stroke: $theme_green;
                }
                body.hero-page.notScrolled & {
                    stroke: $theme_white;
                }
            }
        }

        &.closeModalMenu {
            display: none;
            margin-left: 6px;
        }
    }

    > .inner {
        position: relative;
        background-color: $theme_green;
        padding: 150px $page-horizontal-padding 0;
        height: 100%;
        width: 75%;
        z-index: 2;

        @media screen and (max-width: $mediumish-screen-width) {
            padding-top: 120px;
        }

        @media screen and (max-width: $smallish-screen-width) {
            width: 100%;
            padding-left: $page-horizontal-padding-mobile;
            padding-right: $page-horizontal-padding-mobile;
        }
    }

    .block-system-branding-block {
        display: none;
        position: fixed;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);

        .siteLogo {
            display: block;
            width: 91px;
            height: 69px;
            background: url("../images/logo2.svg") no-repeat center;
            background-size: contain;

            @media screen and (max-width: $smallish-screen-width) {
                width: 69px;
                height: 51px;
            }
        }
    }

    nav.menu--main {
        ul.menu {
            li {
                margin-bottom: 40px;

                @media screen and (max-width: $mediumish-screen-width) {
                    margin-bottom: 30px;
                }

                &.menu-item--active-trail a, & a:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 3px;
                }

                a {
                    display: inline-block;
                    font-family: $title-font-family;
                    letter-spacing: -.05em;
                    color: $theme_white;
                    font-size: 480%;
                    line-height: 1;

                    @media screen and (max-width: $mediumish-screen-width) {
                        font-size: 270%;
                    }

                    &.campaign-link {
                        font-family: $title-font-family-italic;
                    }
                }
            }
        }
    }

    #block-contest-link {        
        display: none;
    }
    
    #block-instagram-link {
        @media screen and (max-width: $smallisher-screen-width) {
            display: block;
        }
        
        .field--name-body p a {
            color: $theme_white!important;

            &:before {
                background-color: $theme_white!important;
            }
        }
    }

    #block-cta-shop {
        display: none;
        position: fixed;
        top: 17px;
        right: $page-horizontal-padding;

        @media screen and (max-width: $mediumish-screen-width) {
            position: absolute;
            bottom: 90px;
            left: 40px;
            top: auto;
            right: auto;
            width: 100%;
        }

        @media screen and (max-width: $smallish-screen-width) {
            left: 0;
        }

        .field--name-body {
            @media screen and (max-width: $smallish-screen-width) {
                padding: 0 $page-horizontal-padding-mobile;
            }
            
            p {
                font-size: 100%;
                line-height: 1;
                margin: 0;

                a {
                    @include buttonize-transparent;

                    @media screen and (max-width: $mediumish-screen-width) {
                        @include buttonize-white;
                        width: 100%;
                        max-width: 480px;
                    }
                }
            }
        }
    }

    #block-language-switcher {
        position: absolute;
        bottom: 150px;
        left: $page-horizontal-padding;

        @media screen and (max-width: $mediumish-screen-width), screen and (max-height: 800px) {
            left: 0;
            bottom: 30px;
            width: 100%;
            padding: 0 40px;
        }

        @media screen and (max-width: $smallish-screen-width) {
            padding: 0 $page-horizontal-padding-mobile;
        }

        ul.links {
            display: flex;

            @media screen and (max-width: $mediumish-screen-width) {
                padding-top: 20px;
                border-top: 1px solid rgba(black, .2);
            }

            li {
                margin-right: 12px;

                // disable some languages
                &[hreflang="de"], &[hreflang="fr"], &[hreflang="nl"]  {
                    display: none;
                }

                a {
                    font-size: 160%;
                    color: $theme_white;
                    text-transform: uppercase;

                    &.is-active {
                        font-family: $base-font-family-medium;
                    }
                }
            }
        }
    }
}

// header
header[role="banner"] {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $theme_green;
    z-index: 20;
    box-shadow: 0 4px 70px rgba(black, .1);

    body.notScrolled & {
        background-color: transparent;
        box-shadow: none;
    }

    body.about-page & {
        background-color: $theme_green;
    }

    .region-header {
        height: 100%;

        > .inner {
            height: 100%;
            position: relative;
            padding-left: $page-horizontal-padding;
            padding-right: $page-horizontal-padding;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media screen and (max-width: $smallisher-screen-width) {
                padding-left: $page-horizontal-padding-mobile;
                padding-right: $page-horizontal-padding-mobile;
            }

            > nav.menu--main {
                display: none;
            }
        }
    }

    // language switcher
    #block-language-switcher {
        &.open {
            .languageDropdownButton {
                opacity: .3;
            }

            ul.links {
                display: block;
            }
        }

        > .inner {
            position: relative;
        }

        .languageDropdownButton {
            background: none;
            border: none;
            font-size: 140%;
            color: $theme_white;
            text-transform: uppercase;
        }

        ul.links {
            display: none;
            position: absolute;
            top: 25px;
            left: 6px;

            li {
                // languages only available in the contest pages
                &[hreflang="de"], &[hreflang="fr"], &[hreflang="nl"] {
                    display: none;

                    body.contest-intro-page & {
                        display: block;
                    }
                }

                a {
                    display: block;
                    font-size: 140%;
                    color: $theme_white;
                    text-transform: uppercase;
                    padding: 4px 0;

                    &.is-active {
                        display: none;
                    }

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }

    // branding
    .block-system-branding-block {
        width: 73px;
        height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: $small-screen-width) {
            width: 69px;
            height: 51px;
        }

        body.hero-page.notScrolled & {
            width: 91px;
            height: 69px;
            top: 12px;
            transform: translate(-50%, 0);

            @media screen and (max-width: $small-screen-width) {
                width: 69px;
                height: 51px;
            }
        }

        body.hero-page.about-page & {
            width: 73px;
            height: 55px;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        > .inner {
            height: 100%;
        }

        .siteLogo {
            display: block;
            height: 100%;
        }

        svg {
            width: 100%;
            height: 100%;

            path.logotype {
                fill: $theme_white;

                body.notScrolled & {
                    fill: $theme_green;
                }
                body.hero-page.notScrolled & {
                    fill: $theme_white;
                }
            }
        }
    }

    #block-instagram-link {
        margin-left: 15px;

        @media screen and (max-width: $smallisher-screen-width) {
            margin-left: 8px;

            .field--name-body {
                p {
                    a {
                        span {
                            display: none;
                        }

                        &:before {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }

    #block-contest-link {
        margin-left: 15px;

        @media screen and (max-width: $mediumish-screen-width) {
            display: none;
        }
    }

    // shop CTA
    #block-cta-shop {
        margin-left: 20px;

        @media screen and (max-width: $smallisher-screen-width) {
            margin-left: 12px;
        }

        .field--name-body {
            p {
                font-size: 100%;
                line-height: 1;
                margin: 0;

                a {
                    @include buttonize-transparent;

                    body.notScrolled & {
                        @include buttonize;
                    }
                    body.hero-page.notScrolled & {
                        @include buttonize-transparent;
                    }

                    @media screen and (max-width: $smallisher-screen-width) {
                        font-size: 100%;
                        background-color: transparent;
                        padding: 0;
                        border: none;
                        border-radius: 0;

                        span {
                            display: none;
                        }

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background-color: $theme_white;
                            mask-image: url("../images/shop.svg");
                            mask-size: cover;
                        }
        
                        body.notScrolled & {
                            font-size: 100%;
                            background-color: transparent;
                            padding: 0;
                            border: none;
                            border-radius: 0;
        
                            &:before {
                                background-color: $theme_green;
                            }
                        }
                        body.hero-page.notScrolled & {
                            font-size: 100%;
                            background-color: transparent;
                            padding: 0;
                            border: none;
                            border-radius: 0;
        
                            &:before {
                                background-color: $theme_white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// contest link
#block-contest-link {
    .field--name-body {
        p {
            font-size: 100%;
            line-height: 1;
            margin: 0;

            a {
                display: flex;
                align-items: center;
                color: $theme_white;
                font-size: 140%;

                &:before {
                    content: "";
                    margin-right: 7px;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background-color: $theme_white;
                    mask-image: url("../images/villa.svg");
                    mask-size: cover;
                }

                body.notScrolled & {
                    color: $theme_green;

                    &:before {
                        background-color: $theme_green;
                    }
                }
                body.hero-page.notScrolled & {
                    color: $theme_white;

                    &:before {
                        background-color: $theme_white;
                    }
                }
            }
        }
    }
}

// instagram link
#block-instagram-link {
    .field--name-body {
        p {
            font-size: 100%;
            line-height: 1;
            margin: 0;

            a {
                display: flex;
                align-items: center;
                color: $theme_white;
                font-size: 140%;

                &:before {
                    content: "";
                    margin-right: 7px;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background-color: $theme_white;
                    mask-image: url("../images/instagram.svg");
                    mask-size: cover;
                }

                body.notScrolled & {
                    color: $theme_green;

                    &:before {
                        background-color: $theme_green;
                    }
                }
                body.hero-page.notScrolled & {
                    color: $theme_white;

                    &:before {
                        background-color: $theme_white;
                    }
                }
            }
        }
    }
}

// page title
.block-page-title-block {
    body.path-node &, body.path-user.is-profile & {
        display: none;
    }
    body.path-node[data-path^="/node/add"] &, body.path-node[data-path$="/edit"] & {
        display: block;
    }
}
h1.page-title {
    font-size: 750%;
    line-height: 1;
    text-align: center;
    margin-bottom: 100px;

    @media screen and (max-width: $mediumish-screen-width) {
        font-size: 600%;
        margin-bottom: 1em;
        padding: 0 $page-horizontal-padding-mobile;
    }

    @media screen and (max-width: $small-screen-width) {
        font-size: 400%;
        margin-bottom: .7em;
    }
}

// generic detail
article.node--view-mode-full {
    h1.page-title {
        display: none;
    }

    // prize node page
    body.contest-page &.node-prize-page {
        height: auto;

        &.node-prize-page-Gold {
            > .nodeContent {
                h1 em {
                    background-image: linear-gradient(90deg, #FFEA8B 0%, #A88D00 100%);
                }

                .prizeImage {
                    background-image: url("/sites/default/files/media/images/gold-wide-2024.jpg");
                    background-position: center;
                }
            }
        }

        &.node-prize-page-Silver {
            > .nodeContent {
                h1 em {
                    background-image: linear-gradient(90deg, #BEBEBE 52.19%, #979797 64.62%, #CCCCCC 76.72%);
                }
            }
        }

        > .nodeContent {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 400%;
                margin: 1em 0;

                em {
                    background-clip: text;
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                }
            }

            .prizeImage {
                @include wave-effect-reverse;
                margin: 70px auto 50px;
                width: 100%;
                height: 500px;
                background: url("/sites/default/files/media/images/polarbox-wide.jpg") no-repeat center bottom;
                background-size: cover;
            }

            h2.prizeTitle {
                width: 100%;
                font-size: 300%;
                text-transform: uppercase;
                color: $theme_green;
                font-family: $base-font-family-medium;
                margin: 0 auto .5em;
            }

            h3.prizeInfo {
                max-width: 500px;
                margin: 0 auto;
                font-size: 160%;
                line-height: $base-line-height;
                font-family: $base-font-family;
                color: rgba(black, .5);
            }
        }
    }

    // body texts
    .field--type-text-with-summary, .field--type-text-long {
        a {
            text-decoration: underline;
        }

        table {
            margin: 40px 0;
        }

        ul, ol {
            list-style-position: inside;
            padding: 0 0 20px;

            li {
                padding-left: 30px;
                font-size: $base-font-size;
                line-height: $base-line-height;
                margin: 0 0 .5em;

                ol, ul {
                    padding: 10px 0 0 20px;
                }

                li, p {
                    font-size: 100%;
                }
            }
        }
        ul {
            list-style-type: square;
        }
    }
}

// form pages
.block-system-main-block {
    > .inner {
        > form {
            @include wrapper;
            padding-bottom: 180px;
        }
    }
}

// contest choose country page
.contest-choose-country-hero {
    background-color: $theme_green;

    .paragraph--type--hero {
        @media screen and (max-height: 780px) {
            height: auto;
            padding: 100px 0;
        }

        .field--name-field-body {
            h2 {
                font-size: 4.5vh;

                @media screen and (max-width: $smallish-screen-width) {
                    font-size: 280%;

                    br {
                        display: inline;
                    }
                }

                @media screen and (max-width: $micro-screen-width) {
                    font-size: 200%;
                }
            }

            em {
                font-family: $base-font-family-medium;
                font-size: 80%;
            }
        }
    }
}

// contest pages
body.contest-page {
    &.contest-prize-page {
        .region-content {
            height: 100%;

            > .inner {
                height: 100%;
                display: block;

                .block-system-main-block {
                    height: 100%;

                    > .inner {
                        height: 100%;
                    }
                }
            }
        }
    }

    &.contest-form-page {
        background-color: white;
    }

    &.contest-no-prize-page {
        .paragraph--type--text {
            padding-bottom: 0;
        }

        .paragraph--type--hero {
            @include wave-effect-reverse();
            margin-top: 50px;
            color: white;
            justify-content: start;
            padding-top: 130px;

            .field--name-field-body {
                h2 {
                    font-family: $title-font-family;
                    text-transform: none;
                    font-size: 300%;
                }
            }

            .field--name-field-image article .field--name-field-media-image {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                    linear-gradient(0deg, rgba(0, 0, 0, 0) 51.97%, rgba(0, 0, 0, 0.2) 94%);
                }
            }
        }

        footer[role=contentinfo] {
            display: block!important;
        }
    }

    .modalMenu, #block-contest-link, #block-instagram-link, #block-cta-shop, footer[role=contentinfo] {
        display: none!important;
    }

    .dialog-off-canvas-main-canvas, .layout-container, main {
        height: 100%;
    }

    .region-content {
        padding-top: $header-height;

        button.contestPageClose {
            border: none;
            background: none;
            padding: 0;
            position: fixed;
            top: 25px;
            right: 25px;
            z-index: 200;
        }

        > .inner {
            text-align: center;
        }
    }

    article.node--view-mode-full {
        display: flex;
        flex-direction: column;
        height: 100%;

        > .nodeContent {
            height: 65%;
        }

        > .image {
            @include wave-effect-reverse;
            height: 35%;
            background: url("/sites/default/files/media/images/premio-gold.jpg") no-repeat center;
            background-size: cover;
        }
    }
}

// error pages
body.errorPage {
    .region-content {
        padding: 200px 0 300px;
    }

    .block-system-main-block {
        text-align: center;
        font-size: $base-font-size;
    }
}

// legal pages
body.legal-page {
    article.node--view-mode-full {
        padding: 180px 0 140px;
    
        h1.page-title {
            display: block;
            max-width: $body-maxwidth;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .field--type-text-with-summary, .field--type-text-long {
            max-width: $body-maxwidth;
            margin: 0 auto;

            h2, h3, h4 {
                font-family: $base-font-family-medium;
                margin-bottom: 1em;
            }

            h2 {
                font-size: 200%;
            }

            h3 {
                font-size: 180%;
            }

            h4 {
                font-size: 160%;
            }
        }
    }
}

// prize page
body.prize-page {
    article.node--view-mode-full {
        padding: $header-height 0 140px;
    }
}

// footer
footer[role="contentinfo"] {
    @include wave-effect('cream');
    background-color: $theme_cream;
    color: black;
    margin-top: -50px;
    z-index: 10;

    body.about-page & {
        margin-top: 0;

        &:before {
            content: none;
        }
    }

    a {
        color: black;
    }

    > .inner {
        @include wrapper;
    }

    .region-footer {
        > .inner {
            padding: 28px 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $big-screen-width) {
                align-items: flex-start;
            }
        }
    }

    #block-main-menu-footer {
        ul.menu {
            display: flex;

            @media screen and (max-width: $big-screen-width) {
                display: block;
            }

            li {
                a {
                    display: block;
                    font-size: 140%;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-right: 30px;

                    @media screen and (max-width: $big-screen-width) {
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    #block-instagram-link-footer {
        .field--name-body {
            p {
                font-size: 100%;
                line-height: 1;
                margin: 0;

                a {
                    display: flex;
                    align-items: center;
                    color: black;
                    font-size: 160%;

                    &:before {
                        content: "";
                        margin-right: 7px;
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        background-color: black;
                        mask-image: url("../images/instagram.svg");
                        mask-size: cover;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .region-footer-bottom {
        border-top: 1px solid rgba(black, .4);

        > .inner {
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $smallisher-screen-width) {
                flex-direction: column-reverse;
            }
        }
    }

    .copy {
        font-size: 140%;
        font-weight: 300;
    }

    #block-legal-menu {
        @media screen and (max-width: $smallisher-screen-width) {
            margin-bottom: 20px;
        }

        ul.menu {
            display: flex;

            @media screen and (max-width: $small-screen-width) {
                display: block;
            }

            li {
                margin-left: 25px;

                @media screen and (max-width: $smallisher-screen-width) {
                    margin: 0 10px;
                }

                @media screen and (max-width: $small-screen-width) {
                    margin: 10px 0;
                    text-align: center;
                }

                a {
                    font-size: 140%;
                    font-weight: 300;
                }
            }
        }
    }

    // Wine in Moderation logo
    #block-wim-logo {
        .field--name-body {
            p {
                margin-bottom: 0;
                font-size: 100%;
            }
            
            img {
                height: 36px;
                width: auto;
            }
        }
    }
}

// maintenance page
body.maintenance-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .layout-container {
        width: 375px;
        height: 300px;
    }

    .modalMenu {
        display: none;
    }

    .logo {
        margin-bottom: 20px;
    }

    h1 {
        display: none;
        font-size: 200%;
        margin-bottom: .5em;
    }

    .body {
        font-size: 140%;
        line-height: 1.4;

        p {
            font-size: 1em;
        }
    }
}